@import url("https://lilytistic.github.io/soon/main/extra/fonts.css");
@import url("https://lilytistic.github.io/soon/main/extra/snippets.css");

:root {
  /* Theme Version */
    --soon-ver: "1.2.0";
}
/* Fonts */
code {
  font-family: var(--codeblock-font);
}

/* Sidebar */
.sidebar_a4d4d9 {
  border-top-left-radius:4.5px!important;
}


/* Pin Home Icon */
.guilds_a4d4d9 .tree_fea3ef:focus {
  outline-color: transparent;
}

.guilds_a4d4d9 .scroller_fea3ef {
  contain: unset;
  margin-top: 32px;
}

.guilds_a4d4d9 .scroller_fea3ef, .tutorialContainer_f9623d {
  background-color: var(--background-tertiary)!important;
  border-top-right-radius:10px;
}
.tutorialContainer_f9623d.listItem_c96c45.wrapper__8436d[data-list-item-id="guildsnav___home"]:not(#a) {
  margin-top:25px;
}
.guildSeparator_d0c57e {
  display:none;
}
.unreadMentionsIndicatorTop_fea3ef {
  margin-top:50px;
}

/* Server List */
.guilds_a4d4d9 {
  border-radius: 0 10px 10px 0;
  margin: 20px 1px 10px 0;
}

.scroller_fea3ef {
  background-color:#211d2981!important;
}
.tutorialContainer_f9623d > .listItem_c96c45:first-child{
  margin-top:9px;
}
.scroller_fea3ef .wrapper_c5f96a foreignObject, .folderIconWrapper_bc7085, .wrapperSimple_c5f96a, .expandedFolderBackground_bc7085 {
  mask: none;
  border-radius: var(--folder-radius);
}
.icon_a64689 {
  mask:none;
  border-radius:var(--server-radius);
}
/* Servers */
.tutorialContainer_f9623d .selected_dfb2f8 .childWrapper_a6ce15, .wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15:not(#bbc) {
  background-color:#17151d;
}
  
/* Titlebar/Wordmark */
.wordmark_a934d8 {
  color: gray;
  align-items: center;
  width: fit-content;
  font-size: 15px;
  font-weight: 800;
}
.titleBar_a934d8 .wordmark_a934d8 {
  padding: 5px 9px 5px;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.wordmark_a934d8::before {
  content:" Soon";
  position: absolute;
  font-size: 15px;
  margin-top: 10px;
}
.wordmark_a934d8::after {
  content: "by Satana";
  position: absolute;
  font-size: 15px;
  margin-left: 115px;
  font-weight: 400;
  margin-top: 10px;
}
.wordmark_a934d8 > svg {
  display: none;
}
  
  
/* User Panel */
.button_f67531 {
  background-color: #18141d;
  border-radius:0px;
  transition: all 0.2s ease-in-out;
}
.button_f67531:hover:not(#a) {
  background-color: #241f2b;
}
.button_f67531:first-child {
  border-radius: 10px 0 0 10px;
}
.button_f67531:last-child {
  border-radius: 0 10px 10px 0;
}
.status-2DiCMd svg:not(#a) {
  mask: none;
  border-radius: 0;
}
.menu_d90b3d,.emojiSection_e58351 {
  background-color: var(--user-popout-bg);
}


/* Action Buttons */
.actionButton_e01b91 {
  border-radius: 10px;
}

/* Avatars */
.wrapper_c51b4e foreignObject,
.callAvatarMask_db83a2 foreignObject,
.avatarContainer_d03bba foreignObject,
.avatarMasked__0b3c8 {
  mask: none;
  -webkit-mask: none;
}
.wrapper_c51b4e,
.avatar_c51b4e,
.profile_d6fbe8 .avatarUploaderInner-yEhTv5,
.voiceAvatar_db83a2,
.avatar_f9f2ca,
.border_db83a2,
.avatar_cdc675,
.clickableAvatar_d03bba,
.emptyUser_d03bba,
.avatar_d03bba,
.wrapper_db83a2.ringingIncoming_db83a2::after,
.wrapper_db83a2.ringingOutgoing_db83a2::after,
.replyAvatar_f9f2ca,
.avatarSpeaking-33RRJU,
.avatar-2EVtgZ,
.avatarContainerMasked_d03bba,
.appAvatar-2_lufo {
  border-radius: var(--avatar-radius);
}
.avatarHint-2g3Mcd,
.avatarHint-2g3Mcd foreignObject {
  border-radius: var(--avatar-radius);
  mask: none;
}
.avatarHintInner-3gk_Yx {
  border-radius: var(--avatar-radius);
}
.topSection_b9fccc header svg mask {
    display:none;
}
/* RS Typing Animation Removal */
#app-mount .wrapper_c51b4e .pointerEvents_c51b4e[x="14.5"] {
  fill: transparent !important;
  width: 30px;
  height: 30px;
  x: 1;
  y: 1;
}
  
/* Mentions */
.numberBadge_df8943:not(#a) {
  mask: none;
  -webkit-mask: none;
  border-radius: 5px;
  border: solid 1px var(--background-tertiary);
}
.lowerBadge_c5f96a:not(#a) {
  border-radius: 5px 3px 0 3px;
  margin: 0 -5px -5px 0;
  border: solid 2px var(--background-tertiary);
  background-color: var(--background-tertiary);
}
.unreadMentionsIndicatorBottom_fea3ef.bar_c10249,.unreadMentionsBar_fea3ef:not(#a) {
  mask: none;
  border-radius: 5px;
}

/* Message Box */
.channelTextArea_a7d72e>.scrollableContainer_d0696b:not(#a) {
  border-radius:5px;
  background-color:var(--messagebox-bg);
}
.placeholder_a552a6 {
  text-align:var(--messagebox-align);
}
.textArea-220_Gz, .channelTextArea_d0696b, .scrollableContainer_d0696b {
  background-color:var(--messagebox-bg);
}

/* Titlebar Buttons */
.winButton_a934d8:not(#a) {
  border-radius:5px;
  transition:all 0.2s ease-in-out;
}
  
/*
This is for the
(Purpura Color Palette by blueb442)
Do Not Touch.
*/
.theme-dark.container_fc4f04 {
  background-color:var(--toolbar-bg);
}
.circleIconButton_db6521 {
  background-color:#17151d;
}
.childWrapper_a6ce15.acronym_fb7739 {
  background-color:#17151d;
}
.autocomplete_bcc24e,.autocomplete_bea0d0,.autocompleteAttached_bea0d0:not(#a) {
  background-color:var(--autocomplete-bg);
}
.autocompleteInner_bcc24e {
  background-color:var(--autocomplete-bg);
}

/* bug fixes */
.children_fc4f04:after{
  content: none;
}
  
/* User Popout */
.userPopout-3fydSP,.userPopoutInner-PA9zkU,.animatorRight-xAUgTY,.userPopoutInnerNonPremium-3zrFkp,.bodyInnerWrapper-2bQs1k,.wrapper_c51b4e,.topSection-13QKHs,.body-1Ukv50,.footer-3naVBw,.overlayBackground-arbZMT {
  background-color:var(--user-popout-bg);
  border-color:var(--user-popout-bg);
  border-radius:5px;
}
.connectedAccountContainer-SlCC-S {
  background-color:var(--connected-accounts-bg);
}
.inputWrapper-1YNMmM,.inputDefault-3FGxgL {
  background-color:var(--messagebox-bg);
  filter:brightness(80%);
  border-radius:5px;
}
.inputWrapper-1YNMmM,.inputDefault-3FGxgL:hover,.inputWrapper-1YNMmM,.inputDefault-3FGxgL:focus {
  background-color:var(--messagebox-bg);
  filter:brightness(65%);
}
  
/* Banners */
.layer-1Ixpg3 .banner_c3e427 .banner-2boKnS,.bannerPremium-86naOf,.profileBanner-2zIsK7, .popoutBanner-16rVDY, .popoutBanner_c3e427, .popoutBannerPremium-3i5EE, .bannerPremium_c3e427 {
  filter: blur(calc(var(--banner-blur-amount) * 1px * var(--banner-blur)));
  transition:1s ease all;
}
.layer-1Ixpg3 .banner_c3e427:hover,.profileBanner-2zIsK7:hover, .banner-2boKnS:hover, .popoutBanner_c3e427:hover, .popoutBannerPremium-3i5EE:hover, .bannerPremium_c3e427:hover {
  filter:none;
}
.userPopoutInnerNonPremium-3zrFkp .bannerSVGWrapper_b32cc2 foreignObject { /* Banner SVG Fix */
  mask: none;
}
.bannerSVGWrapper_b32cc2 mask circle {
    display:none;
}
  
/* Avatar */
.replyAvatar_f9f2ca {
  mask:none;
  border-radius:var(--reply-avatar-radius);
}
.avatar_f9f2ca {
  border:1px solid transparent;
  transition: all ease-in-out 0.55s;
}
.avatar_f9f2ca:hover {
  border-color:rgba(104, 58, 126, 0.322);
}
.wrapper_c51b4e circle {
  fill:transparent;
}

/* Add Server Modal [+] */
.theme-light .root_f9a4c9, .modalContent-33IoU, .header_f9a4c9 {
  background-color: var(--dark-background-secondary);
}
.theme-light .footer_f9a4c9, .modalFooter-2XY3GW {
  background-color: var(--dark-background-secondary);
  box-shadow: inset 0 1px 0 rgb(47 49 54 / 60%);
}
.theme-light .thin_eed6a8::-webkit-scrollbar-thumb {
  background-color: var(--dark-background-tertiary);
}
.theme-light .subtitle-3m-md1,.theme-light .subtitle-bIoUVX,.theme-light .subtitle-1cc8Nz,.theme-light .optionHeader-27AHfD,.theme-light .text-PdAsFQ,.theme-light .text-sm-normal-3Zj3Iv,.theme-light .skip-2hTIXL,.theme-light .guidelines-FvqqF2,.theme-light .colorStandard_fbc755,.theme-light .text-xs-normal-3SiVjE.rowText-3MQqQi:not(#a) {
  color: var(--dark-header-secondary) ;
}
.theme-light .inputDefault-3FGxgL,.theme-light .sampleLink-5BWNy9 {
  color: var(--dark-text);
}
.theme-light .defaultColor-24IHKz {
  color: var(--dark-header);
}
.theme-light .anchor-1MIwyf {
  color: var(--dark-link);
}
.theme-light .container-x8Y1ix {
  background-color: var(--dark-background);
  border-color: hsla(0, 0%, 100%, 0.06);
}
.theme-light .rowContainer-3t7486 {
  background-color: var(--dark-background-secondary);
}
.theme-light .container-x8Y1ix:hover,.theme-light .rowContainer-3t7486:hover {
  background-color: var(--dark-modifier-hover);
}
.theme-light .container-x8Y1ix:active,.theme-light .rowContainer-3t7486:active {
  background-color: var(--dark-modifier-selected);
}
.theme-light .arrow-2yY1Tm {
  filter: brightness(0) saturate(100%) invert(84%) sepia(4%) saturate(191%) hue-rotate(177deg) brightness(89%) contrast(91%);
}
.theme-light .footerButton-24QPis {
  background-color: var(--blurple);
}
.theme-light .footerButton-24QPis:hover {
  background-color: #4752c4;
}
.theme-light .footerButton-24QPis:active {
  background-color: var(--blurple);
}
.theme-light .lookBlank-21BCro,.theme-light .lookLink-15mFoz.colorPrimary-2AuQVo {
  color: var(--dark-header);
  text-decoration-color: var(--dark-header);
}
.theme-light .lookBlank-21BCro:hover,.theme-light .lookLink-15mFoz.colorPrimary-2AuQVo:hover {
  text-decoration: underline;
}
.theme-light .uploadIcon-2wV7s_ {
  color: var(--dark-header-secondary);
}
.theme-light .inputDefault-3FGxgL {
  background-color: var(--dark-background-tertiary);
  font-weight: 400;
}
.theme-light .inputDefault-3FGxgL::placeholder {
  font-weight: 400;
  color: #87898c;
}
.theme-light .input-m1-Y7Q {
  background-color: var(--dark-background-tertiary);
}
.theme-light .close-1mLglB.button_dd4f85,.backButton_f5507e {
  opacity: 0.5;
  color:#80848E;
}
.theme-light .close-1mLglB.button_dd4f85:hover, backButton_f5507e:hover {
  opacity: 1;
}
.scroller_fea3ef {
  contain: unset;
  padding-bottom: 190px;
}
.scroller_fea3ef::before {
    content: "";
    position: fixed;
    bottom: 0;
    width: 72px;
    height: 190px;
    background: linear-gradient(transparent, var(--background-tertiary) 70%);
    z-index: 1;
    pointer-events: none!important;
}
.tutorialContainer_c96c45 {
    position: fixed;
    bottom: 0;
    z-index: 1;
}
.tutorialContainer_c96c45 + .listItem_c96c45 {
    position: fixed;
    bottom: 58px;
    contain: none;
    z-index: 1;
}
.tutorialContainer_f9623d > * {
    margin-bottom:0px!important;
}
  
/* Discover Servers Page */
.pageWrapper_a3a4ce,.list-3FIpnh,.directoryContainer_da3f59 {
  background-color: #19171b!important;
}
.searchBox__56feb:not(#a) {
  background-color:#141218;
}
.searchBoxInput-3h4etz:not(#a) {
  color:var(--messagebox-text);
}
  
/* Custom Status Modal */
.modalRoot-1uudbL:not(#a) {
  background-color: var(--dark-background);
}
.footer_f9a4c9:not(#a) {
  background-color: var(--dark-background-secondary);
}
.select-1Ia3hD:not(#a) {
  background-color:var(--user-popout-bg);
}
.option-2eIyOn:not(#a) {
  background-color:var(--user-popout-bg);
  filter:contrast(110%);
}
.option-2eIyOn:hover:not(#a) {
  background-color:var(--user-popout-bg);
  filter:contrast(120%);
}
  
/* Server Boost Modal */
.perksModal-CLcR1c:not(#a) {
  background-color:var(--background-primary);
}
  
/* Settings Info (bottom of sidebar) */
#app-mount .info_c5a741 .line_c5a741:last-child:after {
  content: "Soon v" var(--soon-ver);
  display: block;
  text-transform:none;
}
#app-mount .info_c5a741 .line_c5a741:first-child::before {
  content: "Soon by Garfield933 / Satana";
  display: block;
  font-weight:bold;
  text-transform:none;
}

/* All Popups/Modals */
.theme-light .root_f9a4c9,.content_f9a4c9,.header_f9a4c9,.container_acb8b3,.scroller-3nFW5p,.header_e664f3,.scroller-2M3eAB, .messagesPopout_ac90a2, .modalContent-33IoU, .content_f9a4c9, .scroller_f1c3d9, .channelHeader_f3978e:not(#a) {
  background-color: var(--dark-background);
  box-shadow: 0 0 0 1px rgb(32 34 37 / 60%), 0 2px 10px 0 rgb(0 0 0 / 20%);
}
.theme-light .footer_f9a4c9,.message_ddcc45,.footer_ac90a2,.list_c6aa12, .footer-1hTRRZ, .modalFooter-2XY3GW, .header_f9a4c9,.header_f0cd33, .header_ac90a2, .tutorial_f1c3d9, .channel_d09ffd:not(#a) {
  background-color: var(--dark-background-secondary);
  box-shadow: inset 0 1px 0 rgb(47 49 54 / 60%);
}
.channelHeader_f3978e {
  filter:contrast(110%);
}
.modalContent-33IoU, .content_f9a4c9:not(#a) {
  border-radius:0px;
}
.card-1LSSlz:not(#a) {
  background-color: transparent;
  border-color:transparent;
}
.copyIcon__7f30b {
  display:none;
}
.content_f9a4c9:not(#a) {
  border-radius:0px;
}
.content_f9a4c9 ,.content_ffaecb:not(#a) {
  box-shadow:none;
}
.header_f9a4c9,.header-DdKz5e {
  background-color:var(--background-primary);
}

.inspector_c3120f, .inspector_c6ee36, .footer_e6af9c {
  background-color:var(--background-secondary);
}
.unicodeShortcut_dfa278 {
  background:#16141b;
}
.emojiPickerListWrapper_c6ee36:not(#a), 
.emojiPickerListWrapper_c6ee36:not(#a) .header_a3bc57:not(#a),
.categorySectionCollapsed_a3bc57 .header_a3bc57:not(#a),
.categorySection_a3bc57:not(#a),
.scroller_e6af9c:not(#a),
#uid_40:not(#a),
#popout_8885:not(#a),
.reactors_f2bfbb:not(#a),
.list_a6d69a /* this is unrelated to popups / modals sorry i cba to format this properly anymore im too busy! its ok tho. this is just the uh background for the forums page ! */ {
  background-color:var(--background-primary);
}
.emojiItem_fbfedd.emojiItemSelected_fbfedd:not(#a),
.sticker_a708c4.stickerInspected_a708c4:not(#a),
.reactionSelected_f2bfbb:not(#a),
.option_b0286e:not(#a) /* find the selected class for this (hint: searchbar!) */ {
  background-color:#201e27; /* ^ */
}
.categoryItemDefaultCategory_dfa278.categoryItemDefaultCategorySelected_dfa278 {
  background-color:#2b2933;
}
.emojiPicker_c6ee36 .header_c6ee36,
.contentWrapper_af5dbb,
.packHeader_de4721 {
  background-color:var(--background-secondary);
}
.searchBarGrid-3PsYLd,
.wrapper_c4c084,
.container_effbe2,
.searchBar_b56bbc  {
  background-color:var(--background-tertiary);
}
.contentWrapper_af5dbb .categoryList_c6ee36, .categoryList_a7a485, .list-obNEuP,
.queryContainer_eedf95 {
  background-color:#1c1a22;
}
.container-2O1UgZ,.colorPickerCustom-1swUKF {
  background-color:var(--user-popout-bg);
}
.inner__999f6 {
  background-color:var(--background-tertiary);
}
.messageGroupCozy_ac90a2 {
  background-color:var(--messagebox-bg);
}
.container_c2739c .themed_fc4f04 {
  background-color: var(--background-primary);
}
.avatarUploaderNormal-1h8g3f,
.avatarUploader-CHGwK7,
.imageUploaderInner_de76e4, 
.avatarUploaderInner-1dBiHs,
.imageUploaderIcon_de76e4 {
  border-radius:5px;
}
.imageUploaderIcon_de76e4:not(#a) {
  background-color: rgb(0,0,0,0.7);
  border-radius: 1px 5px 1px 5px;
}
.avatarUploaderNormal-1h8g3f .status-b9jLr4 {
  display:none;
}
.modalSize_e1cc86 {
  background-color: var(--dark-background-secondary);
}
#gif-picker-tab-panel:not(#a),
.modalContent-1uVMnp:not(#a),
.artContainer_ffaecb:not(#a),
.content_f9a4c9:not(#a),
.content_ffaecb:not(#a),
.paymentPane_f66684:not(#a),
.verticalFit_f66684:not(#a),
.paginator_f66684:not(#a),
#billing-history:not(#a),
.payment_a28a08:not(#a),
.codeRedemptionRedirect_cb70f4:not(#a),
.card-16VQ8C:not(#a){
  background-color: var(--background-secondary);
}
.searchOption_b0286e:hover:not(#a),
.option_b0286e:hover:not(#a) {
  background-color: var(--background-secondary-alt);
}
.searchOption_b0286e:not(#a),
.option_b0286e:not(#a) {
  background-color:var(--background-secondary);
}
.searchOption_b0286e::after:not(#a),
.option_b0286e::after:not(#a) {
  display:none;
}
#popout_22616:not(#a) > * {
  background-color: var(--background-secondary);
}
.avatar_b69b77 {
  border:none;
}

.container_c2739c .themed_fc4f04{
  background-color:var(--background-primary);
}

.panels_a4d4d9 {
  order:var(--userpanel-position);
  min-height:48px;
  background-color: var(--background-primary);
}
.panels_a4d4d9 .avatar_b2ca13 {
  margin-left:3px;
}
.container-1Lk8p7:not(#a),.content_f9a4c9:not(#a),.content_f9a4c9:not(#a),.templatesList-uohY49:not(#a),.optionsList-dmHy1l:not(#a) {
  background-color:var(--background-secondary);
}
.container-x8Y1ix:hover:not(#a) {
  background-color: rgb(0, 0, 0, 0.04);
}
#popout_415, .container_eedf95, .queryContainer_eedf95 {
  background-color:#121016;
}

.customItem-2CxBSo .button_a24e84 {
  border-radius:5px;
  background-color: rgba(31, 26, 35, 0.753);
  transition: .2s ease;
}
.customItem-2CxBSo .button_a24e84:hover {
  background-color:rgba(31, 26, 35, 0.198);
}
.expandedFolderIconWrapper_bc7085,
.expandedFolderBackground_bc7085  {
    background-color: var(--opened-folder-bg);
}

.invite_f61cb8:not(#a) {
  background-color: rgb(0,255,0,0.07);
}
.keyboardShortcutsModal_ad95dc:not(#a) {
  background-color: var(--background-secondary);
}
.scroller_f2bfbb:not(#a) {
  background-color: var(--background-secondary-alt);
}
.avatarSmall_cdc675:not(#a) {
  border-radius:5px;
}
.modalSize-3WSXDU {
  background-color: var(--background-secondary);
}
.paymentModalContent, .paymentModalContent .bodyWrapper-23FTiG, .headerAnimation-3DVb6i {
  background-color: var(--background-secondary);
}
.react-datepicker:not(#a),
.calendarPicker_be05cd:not(#a),
.react-datepicker__current-month:not(#a),
.react-datepicker__header:not(#a),
.react-datepicker__month:not(#a)  {
    background-color: var(--background-secondary);
}
.react-datepicker__day--disabled:not(#a),
.react-datepicker__day--outside-month:not(#a) {
    background-color: rgb(14,12,17,3);
}
#app-mount .colorPickerCustom-1swUKF:not(#a) {
  background-color: var(--background-secondary);
  border-radius:10px;
}
.content_a7d72e:not(#a),.title_a7d72e:not(#a),.pageBody_c2efea,.header_f1fd9c,.page_d20375 {
  background-color: var(--background-primary)!important;
}
.container_c68a2c, .containerCard__95c7a,.contentWrapper_ed5743:not(#a),.container_a4d79f {
  background-color: var(--background-secondary);
}
.guildIconImage_c1aa4
.inviteSplash_ed5743 {
  filter:blur(0.956px);
  transition: 0.5s all ease;
}
.inviteSplash_ed5743:hover {
  filter:none;
}

/* scrollbar. */
#app-mount ::-webkit-scrollbar-track {
  background: transparent;
}

#app-mount ::-webkit-scrollbar-thumb {
  background-color: var(--scroller-color);
}


.categoryHeader_fe2299 {
  background-color: var(--autocomplete-bg);
}
.menu_d90b3d:not(#a) {
  background-color:#151216;
}

.giftCodeContainer_b558d0 .description_ab47a1 {
  background-color: #1e1b25;
}
.tooltip_b6c360, .popout_c5b389 {
    backdrop-filter: blur(15px);
}

/* ChannelTabs Compatibility */
#app-mount #channelTabs-container{
  background: var(--background-secondary);
  margin: 10px;
  border-radius:5px;
}
#app-mount #channelTabs-settingsMenu{
  margin-right: 15px;
}
.channelTabs-tabContainer{
  margin: 2px;
}
.channelTabs-tab{
  margin-left: 5px;
}
.channelTabs-mentionBadge:not(#a) {
  border-radius: 4px;
  mask: none;
}
.channelTabs-tabIcon:not(#a), .channelTabs-tabIconWrapper > foreignObject {
  border-radius: 5px;
  mask: none;
}
.channelTabs-tabIconWrapper>foreignObject[mask]{
  mask: none;
}
#app-mount .channelTabs-tabIcon{
  border-radius: 10%;
}
.channelTabs-tabIconWrapper>rect:not(#a){
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  -webkit-mask: none;
  mask: none;
  display: block;
  rx: 5px;
  ry: 5px;
  fill: transparent ;
  stroke-width: var(--rs-small-width);
}
.channelTabs-tabIconWrapper>.channelTabs-doNotDisturbIcon{
  stroke: var(--rs-dnd-color);
}
.channelTabs-tabIconWrapper>.channelTabs-onlineIcon{
  stroke: var(--rs-online-color);
}
.channelTabs-tabIconWrapper>.channelTabs-idleIcon{
  stroke: var(--rs-idle-color);
}
.channelTabs-tabIconWrapper>.channelTabs-offlineIcon{
  stroke: var(--rs-offline-color);
}
.channelTabs-tabIconWrapper>rect:not(.channelTabs-offlineIcon,.channelTabs-idleIcon,.channelTabs-onlineIcon,.channelTabs-doNotDisturbIcon){
  stroke: var(--rs-streaming-color);
}

.container-2nx-BQ,
.bd-switch-body {
	width: 20px;
	height: 20px;
	background: transparent !important;
}

.container-2nx-BQ .slider-32CRPX,
.bd-switch-body .bd-switch-slider {
	left: -6px !important;
}

#app-mount .container-2nx-BQ .slider-32CRPX>rect,
#app-mount .bd-switch-body .bd-switch-slider rect {
	height: 20px;
	width: 20px;
	x: 4px;
	y: 0px;
	rx: 5;
	fill: var(--background-accent);

}
#app-mount .bd-switch-checked .bd-switch-symbol path {
	fill: rgb(0, 255, 0);
}
.bd-switch .bd-switch-symbol path {
	fill: #999;
}


.directoryModal-YJsOMv:not(#a)  {
  background-color:var(--background-secondary-alt);
}

/* colorpicker */
#app-mount .customColorPicker_bbc020{
  background: none;
}

/* spinning avatar which is ugly as fuck */
.spinningAvatar_eb2d2c{
  animation: none;
}

/* popout bug fixes */
.spinnerContainer-3a92uf{
  background: var(--background-secondary);
}
.root_f9a4c9 :where(.header_f9a4c9, .header-DdKz5e,.spinner-2RT7ZC){
  background-color: var(--background-secondary);
}

/* Chat bubble in delete message dialog */
.message_ddcc45 {
  background-color:var(--chat-bubble-background-color)!important;
}

/* searchbar fix */
.option_b0286e:after{
  background: var(--background-secondary);
}
.option_b0286e:hover:after{
  background: linear-gradient(to left, var(--background-secondary-alt) 53%,transparent 94%);
}
#app-mount .queryContainer_eedf95{
  background-color: var(--background-secondary);
}
#app-mount .queryShortcut_eedf95 .key-N5VmHN{
  background-color: #282430;
  box-shadow: none;
}

/* phone number modal styling */
.phoneVerificationModal_fb9bea{
  background-color: #121016;
}
.phoneVerificationModal_fb9bea>.flex_bba380>button{
  background-color: var(--brand-experiment-500);
}
.phoneVerificationModal_fb9bea>.flex_bba380>button:hover{
  background-color: var(--brand-experiment-560);
}
.phoneVerificationModal_fb9bea>.flex_bba380>input,
.phoneVerificationModal_fb9bea>.flex_bba380{
  background-color: var(--messagebox-bg);
  box-shadow: none;
  border: 0;
}
.phoneVerificationModal_fb9bea>.flex_bba380{
  filter: drop-shadow(0 0 5px var(--messagebox-bg));
}
#app-mount .elevationBorderLow_ff8688{
  background: var(--background-secondary);
}
body #app-mount .phoneFieldScroller_ff761b>.selectableItem_d40acf:hover{
  background-color: var(--user-popout-bg);
}
#app-mount .phoneFieldScroller_ff761b>.selectableItem_d40acf:focus{
  background-color: transparent;
}

/* region popout restyle */
#app-mount .quickSelectPopout_abbf45{
  background: var(--background-floating);
  backdrop-filter: blur(20px);
}
body #app-mount .quickSelectPopout_abbf45>.quickSelectPopoutOption_b852b1:hover{
  background-color: var(--background-modifier-hover);
}
#app-mount .quickSelectPopout_abbf45>.quickSelectPopoutOption_b852b1:focus{
  background-color: transparent;
}
.topControls_dd069c>:not([class])>.flex_ec1a20{
  margin-top: 5px;
}

/* restyling gif picker */
#app-mount .emptyHintCard_bad108{
  background-color: var(--background-accent);
}
#gif-picker-tab-panel .result_bad108>.categoryFadeBlurple_af1167{
  background-color: rgba(58, 49, 81, 0.8);
}
#app-mount #gif-picker-tab-panel .focused_bad108:after, #app-mount #gif-picker-tab-panel .result_bad108:hover:after{
  box-shadow: inset 0 0 0 2px rgba(118, 100, 162),inset 0 0 0 3px rgba(118, 100, 162, 0.8);
}

/* Radius fix for sidebar, not important enough to label */
.privateChannels_f0963d {
    border-top-left-radius:15px!important;
}

/* Tab Bars (user profile) */
.tabBarItem-3VvT2z {
  background-color: var(--itemtab-default);
  padding:10px;
  margin-right:-25px;
  margin-bottom:15px;
  border-radius:10px;
  max-height:16px;
  border-color:var(--itemtab-default)!important;
}

.selected_a0.tabBarItem-3VvT2z {
  background-color: var(--itemtab-selected);
}

/* status emojipicker fix */
.formGroup-146LDV>.children_a6ae9b .inputContainer-3envCr :where(div+div:last-child,input){
  filter: none;
}

/* Voice Chat PFPs */
.voiceUser_cdc675 .content_cdc675 .userAvatar_ac3629 {
  border-radius:var(--rs-avatar-shape)!important;
}

.tooltip_b6c360 {
    backdrop-filter: blur(15px);
}

/* Call Buttons */
.controlButton_b6e2f9, .staticButton_ef18ee {
  border-radius:5px;
  mask:none;
}
.controlButton_b6e2f9 foreignObject {
  /* background-color: currentColor; */
  border-radius:5px;
  mask:none;
}
.controlButton_b6e2f9 svg:has([d="M21.526 8.149C21.231 7.966 20.862 7.951 20.553 8.105L18 9.382V7C18 5.897 17.103 5 16 5H4C2.897 5 2 5.897 2 7V17C2 18.104 2.897 19 4 19H16C17.103 19 18 18.104 18 17V14.618L20.553 15.894C20.694 15.965 20.847 16 21 16C21.183 16 21.365 15.949 21.526 15.851C21.82 15.668 22 15.347 22 15V9C22 8.653 21.82 8.332 21.526 8.149Z"]) > *, .controlButton_b6e2f9 svg:has([d="M6.7 11H5C5 12.19 5.34 13.3 5.9 14.28L7.13 13.05C6.86 12.43 6.7 11.74 6.7 11Z"])::before > *
 {
  background-color: #2b2d31!important;
}
.contextMenuNub_ef18ee {
  mask:none;
  border-radius:5px 0px 5px 0px;
  background-color: rgba(0, 0, 0, 0.322)!important;
}
.contextMenuNub_ef18ee:hover {
  background-color: rgba(0, 0, 0, 0.185)!important;
}
.status_db83a2 {
    border-radius: 5px;
}
.mainCard_a6d69a,.channelRow_f04d06 {
  background-color: var(--background-secondary);
  border: 2px rgba(255, 255, 255, 0.048) solid;
}

/* Vencord Stuff */
.vc-plugins-filter-controls .inputWrapper_f8bc55 input,
.vc-plugins-filter-controls .select_f6639d {
    background-color: var(--background-tertiary);
    border-color: var(--background-tertiary);
}
.vc-settings-quickActions-pill {
    border-radius:5px;
}

/* Scrollbar bug (in Settings, when your screen is smaller) fix */
.header_a0 > *{
    overflow:hidden;
}

/* Titlebar half-colored fix */
.typeWindows_a934d8 {
    background-color: var(--background-tertiary);
}

/* Apps Menu */
.channelAppLauncher_df39bd button {
    background-color: var(--messagebox-bg);
    border-radius: 5px;
}
.contentWrapper_f7506e {
    background-color: var(--background-primary)
}
.appDetailsContainer_e5da8b {
    background-color: var(--background-secondary-alt);
    transition: ease-in-out 0.2s all;
}
.appDetailsContainer_e5da8b:hover {
    background-color: var(--background-tertiary);
}
.container_fb1469 {
    background-color: var(--background-secondary-alt);
}
