@import url("https://lilytistic.github.io/soon/main/extra/fonts.css");
@import url("https://lilytistic.github.io/soon/main/extra/snippets.css");
@import url("https://lilytistic.github.io/soon/main/extra/revertVisualRefresh.css");


:root {
  /* Theme Version */
    --soon-ver: "1.2.0";
}
/* Fonts */
code {
  font-family: var(--codeblock-font);
}

/* Sidebar */
.sidebar_c48ade {
  border-top-left-radius:4.5px!important;
}


/* Pin Home Icon */
.guilds_c48ade .tree_ef3116:focus {
  outline-color: transparent;
}

.guilds_c48ade .scroller_ef3116 {
  contain: unset;
  margin-top: 32px;
}

.guilds_c48ade .scroller_ef3116, .tutorialContainer__1f388 {
  background-color: var(--background-tertiary)!important;
  border-top-right-radius:10px;
}
.tutorialContainer__1f388.listItem__650eb.wrapper__8436d[data-list-item-id="guildsnav___home"]:not(#a) {
  margin-top:25px;
}
.guildSeparator__252b6 {
  display:none;
}
.unreadMentionsIndicatorTop_ef3116 {
  margin-top:50px;
}

/* Server List */
.guilds_c48ade {
  border-radius: 0 10px 10px 0;
  margin: 20px 1px 10px 0;
}

.scroller_ef3116 {
  background-color:#211d2981!important;
}
.tutorialContainer__1f388 > .listItem__650eb:first-child{
  margin-top:9px;
}
.scroller_ef3116 .wrapper_cc5dd2 foreignObject, .folderIconWrapper__48112, .wrapperSimple_cc5dd2, .expandedFolderBackground__48112 {
  mask: none;
  border-radius: var(--folder-radius);
}
.icon_f34534 {
  mask:none;
  border-radius:var(--server-radius);
}
/* Servers */
.tutorialContainer__1f388 .selected_dfb2f8 .childWrapper_a6ce15, .wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15:not(#bbc) {
  background-color:#17151d;
}
  
/* Titlebar/Wordmark */
.wordmark__421ed {
  color: gray;
  align-items: center;
  width: fit-content;
  font-size: 15px;
  font-weight: 800;
}
.titleBar__421ed .wordmark__421ed {
  padding: 5px 9px 5px;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.wordmark__421ed::before {
  content:" Soon";
  position: absolute;
  font-size: 15px;
  margin-top: 10px;
}
.wordmark__421ed::after {
  content: "by Satana";
  position: absolute;
  font-size: 15px;
  margin-left: 115px;
  font-weight: 400;
  margin-top: 10px;
}
.wordmark__421ed > svg {
  display: none;
}
  
  
/* User Panel */
.button__67645 {
  background-color: #18141d;
  border-radius:0px;
  transition: all 0.2s ease-in-out;
}
.button__67645:hover:not(#a) {
  background-color: #241f2b;
}
.button__67645:first-child {
  border-radius: 10px 0 0 10px!important;
}
.button__67645:nth-child(2) {
  border-radius:0px;
}
.button__67645:last-child {
  border-radius: 0 10px 10px 0;
}
.status-2DiCMd svg:not(#a) {
  mask: none;
  border-radius: 0;
}
.menu_c1e9c4,.emojiSection_d5cd2d {
  background-color: var(--user-popout-bg);
}


/* Action Buttons */
.actionButton_f8fa06 {
  border-radius: 10px;
}

/* Avatars */
.wrapper__44b0c foreignObject,
.callAvatarMask_f910d0 foreignObject,
.avatarContainer__183c2 foreignObject,
.avatarMasked__0b3c8 {
  mask: none;
  -webkit-mask: none;
}
.wrapper__44b0c,
.avatar__44b0c,
.profile_d6fbe8 .avatarUploaderInner-yEhTv5,
.voiceAvatar_f910d0,
.avatar_c19a55,
.border_f910d0,
.avatar__07f91,
.clickableAvatar__183c2,
.emptyUser__183c2,
.avatar__183c2,
.wrapper_f910d0.ringingIncoming_f910d0::after,
.wrapper_f910d0.ringingOutgoing_f910d0::after,
.replyAvatar_c19a55,
.avatarSpeaking-33RRJU,
.avatar-2EVtgZ,
.avatarContainerMasked__183c2,
.appAvatar-2_lufo {
  border-radius: var(--avatar-radius);
}
.avatarHint-2g3Mcd,
.avatarHint-2g3Mcd foreignObject {
  border-radius: var(--avatar-radius);
  mask: none;
}
.avatarHintInner-3gk_Yx {
  border-radius: var(--avatar-radius);
}
.topSection_b9fccc header svg mask {
    display:none;
}
/* RS Typing Animation Removal */
#app-mount .wrapper__44b0c .pointerEvents__44b0c[x="14.5"] {
  fill: transparent !important;
  width: 30px;
  height: 30px;
  x: 1;
  y: 1;
}
  
/* Mentions */
.numberBadge__2b1f5:not(#a) {
  mask: none;
  -webkit-mask: none;
  border-radius: 5px;
  border: solid 1px var(--background-tertiary);
}
.lowerBadge_cc5dd2:not(#a) {
  border-radius: 5px 3px 0 3px;
  margin: 0 -5px -5px 0;
  border: solid 2px var(--background-tertiary);
  background-color: var(--background-tertiary);
}
.unreadMentionsIndicatorBottom_ef3116.bar__3b95d,.unreadMentionsBar_ef3116:not(#a) {
  mask: none;
  border-radius: 5px;
}

/* Message Box */
.channelTextArea_f75fb0>.scrollableContainer__74017:not(#a) {
  border-radius:5px;
  background-color:var(--messagebox-bg);
}
.placeholder__1b31f {
  text-align:var(--messagebox-align);
}
.textArea-220_Gz, .channelTextArea__74017, .scrollableContainer__74017 {
  background-color:var(--messagebox-bg);
}

/* Titlebar Buttons */
.winButton__421ed:not(#a) {
  border-radius:5px;
  transition:all 0.2s ease-in-out;
}
  
/*
This is for the
(Purpura Color Palette by blueb442)
Do Not Touch.
*/
.theme-dark.container__9293f {
  background-color:var(--toolbar-bg);
}
.circleIconButton__5bc7e {
  background-color:#17151d;
}
.childWrapper_a6ce15.acronym_fb7739 {
  background-color:#17151d;
}
.autocomplete__13533,.autocomplete__6b0e0,.autocompleteAttached__6b0e0:not(#a) {
  background-color:var(--autocomplete-bg);
}
.autocompleteInner__13533 {
  background-color:var(--autocomplete-bg);
}

/* bug fixes */
.children__9293f:after{
  content: none;
}
  
/* User Popout */
.userPopout-3fydSP,.userPopoutInner-PA9zkU,.animatorRight-xAUgTY,.userPopoutInnerNonPremium-3zrFkp,.bodyInnerWrapper-2bQs1k,.wrapper__44b0c,.topSection-13QKHs,.body-1Ukv50,.footer-3naVBw,.overlayBackground-arbZMT {
  background-color:var(--user-popout-bg);
  border-color:var(--user-popout-bg);
  border-radius:5px;
}
.connectedAccountContainer-SlCC-S {
  background-color:var(--connected-accounts-bg);
}
.inputWrapper-1YNMmM,.inputDefault-3FGxgL {
  background-color:var(--messagebox-bg);
  filter:brightness(80%);
  border-radius:5px;
}
.inputWrapper-1YNMmM,.inputDefault-3FGxgL:hover,.inputWrapper-1YNMmM,.inputDefault-3FGxgL:focus {
  background-color:var(--messagebox-bg);
  filter:brightness(65%);
}
  
/* Banners */
.layer-1Ixpg3 .banner__68edb .banner-2boKnS,.bannerPremium-86naOf,.profileBanner-2zIsK7, .popoutBanner-16rVDY, .popoutBanner_c3e427, .popoutBannerPremium-3i5EE, .bannerPremium_c3e427 {
  filter: blur(calc(var(--banner-blur-amount) * 1px * var(--banner-blur)));
  transition:1s ease all;
}
.layer-1Ixpg3 .banner__68edb:hover,.profileBanner-2zIsK7:hover, .banner-2boKnS:hover, .popoutBanner_c3e427:hover, .popoutBannerPremium-3i5EE:hover, .bannerPremium_c3e427:hover {
  filter:none;
}
.userPopoutInnerNonPremium-3zrFkp .bannerSVGWrapper_b32cc2 foreignObject { /* Banner SVG Fix */
  mask: none;
}
.bannerSVGWrapper_b32cc2 mask circle {
    display:none;
}
  
/* Avatar */
.replyAvatar_c19a55 {
  mask:none;
  border-radius:var(--reply-avatar-radius);
}
.avatar_c19a55 {
  border:1px solid transparent;
  transition: all ease-in-out 0.55s;
}
.avatar_c19a55:hover {
  border-color:rgba(104, 58, 126, 0.322);
}
.wrapper__44b0c circle {
  fill:transparent;
}

/* Add Server Modal [+] */
.theme-light .root__49fc1, .modalContent-33IoU, .header__49fc1 {
  background-color: var(--dark-background-secondary);
}
.theme-light .footer__49fc1, .modalFooter-2XY3GW {
  background-color: var(--dark-background-secondary);
  box-shadow: inset 0 1px 0 rgb(47 49 54 / 60%);
}
.theme-light .thin__99f8c::-webkit-scrollbar-thumb {
  background-color: var(--dark-background-tertiary);
}
.theme-light .subtitle-3m-md1,.theme-light .subtitle-bIoUVX,.theme-light .subtitle-1cc8Nz,.theme-light .optionHeader-27AHfD,.theme-light .text-PdAsFQ,.theme-light .text-sm-normal-3Zj3Iv,.theme-light .skip-2hTIXL,.theme-light .guidelines-FvqqF2,.theme-light .colorStandard_c9946a,.theme-light .text-xs-normal-3SiVjE.rowText-3MQqQi:not(#a) {
  color: var(--dark-header-secondary) ;
}
.theme-light .inputDefault-3FGxgL,.theme-light .sampleLink-5BWNy9 {
  color: var(--dark-text);
}
.theme-light .defaultColor-24IHKz {
  color: var(--dark-header);
}
.theme-light .anchor-1MIwyf {
  color: var(--dark-link);
}
.theme-light .container-x8Y1ix {
  background-color: var(--dark-background);
  border-color: hsla(0, 0%, 100%, 0.06);
}
.theme-light .rowContainer-3t7486 {
  background-color: var(--dark-background-secondary);
}
.theme-light .container-x8Y1ix:hover,.theme-light .rowContainer-3t7486:hover {
  background-color: var(--dark-modifier-hover);
}
.theme-light .container-x8Y1ix:active,.theme-light .rowContainer-3t7486:active {
  background-color: var(--dark-modifier-selected);
}
.theme-light .arrow-2yY1Tm {
  filter: brightness(0) saturate(100%) invert(84%) sepia(4%) saturate(191%) hue-rotate(177deg) brightness(89%) contrast(91%);
}
.theme-light .footerButton-24QPis {
  background-color: var(--blurple);
}
.theme-light .footerButton-24QPis:hover {
  background-color: #4752c4;
}
.theme-light .footerButton-24QPis:active {
  background-color: var(--blurple);
}
.theme-light .lookBlank-21BCro,.theme-light .lookLink-15mFoz.colorPrimary-2AuQVo {
  color: var(--dark-header);
  text-decoration-color: var(--dark-header);
}
.theme-light .lookBlank-21BCro:hover,.theme-light .lookLink-15mFoz.colorPrimary-2AuQVo:hover {
  text-decoration: underline;
}
.theme-light .uploadIcon-2wV7s_ {
  color: var(--dark-header-secondary);
}
.theme-light .inputDefault-3FGxgL {
  background-color: var(--dark-background-tertiary);
  font-weight: 400;
}
.theme-light .inputDefault-3FGxgL::placeholder {
  font-weight: 400;
  color: #87898c;
}
.theme-light .input-m1-Y7Q {
  background-color: var(--dark-background-tertiary);
}
.theme-light .close-1mLglB.button__201d5,.backButton__78f69 {
  opacity: 0.5;
  color:#80848E;
}
.theme-light .close-1mLglB.button__201d5:hover, backButton__78f69:hover {
  opacity: 1;
}
.scroller_ef3116 {
  contain: unset;
  padding-bottom: 190px;
}
.scroller_ef3116::before {
    content: "";
    position: fixed;
    bottom: 0;
    width: 72px;
    height: 190px;
    background: linear-gradient(transparent, var(--background-tertiary) 70%);
    z-index: 1;
    pointer-events: none!important;
}
.tutorialContainer__650eb {
    position: fixed;
    bottom: 0;
    z-index: 1;
}
.listItem__650eb:has(.discoveryIcon_ef3116) {
    position: fixed;
    bottom: 58px;
    contain: none;
    z-index: 1;
}
.listItem__650eb:has(.discoveryIcon_ef3116) foreignObject {
    mask: none;
    border-radius: var(--folder-radius);
}
.tutorialContainer__1f388 > * {
    margin-bottom:0px!important;
}
  
/* Discover Servers Page */
.pageWrapper_a3a4ce,.list-3FIpnh,.directoryContainer_da3f59 {
  background-color: #19171b!important;
}
.searchBox__56feb:not(#a) {
  background-color:#141218;
}
.searchBoxInput-3h4etz:not(#a) {
  color:var(--messagebox-text);
}
  
/* Custom Status Modal */
.modalRoot-1uudbL:not(#a) {
  background-color: var(--dark-background);
}
.footer__49fc1:not(#a) {
  background-color: var(--dark-background-secondary);
}
.select-1Ia3hD:not(#a) {
  background-color:var(--user-popout-bg);
}
.option-2eIyOn:not(#a) {
  background-color:var(--user-popout-bg);
  filter:contrast(110%);
}
.option-2eIyOn:hover:not(#a) {
  background-color:var(--user-popout-bg);
  filter:contrast(120%);
}
  
/* Server Boost Modal */
.perksModal-CLcR1c:not(#a) {
  background-color:var(--background-primary);
}
  
/* Settings Info (bottom of sidebar) */
#app-mount .info__2debe .line__2debe:last-child:after {
  content: "Soon v" var(--soon-ver);
  display: block;
  text-transform:none;
}
#app-mount .info__2debe .line__2debe:first-child::before {
  content: "Soon by Garfield933 / Satana";
  display: block;
  font-weight:bold;
  text-transform:none;
}

/* All Popups/Modals */
.theme-light .root__49fc1,.content__49fc1,.header__49fc1,.container__6764b,.scroller-3nFW5p,.header_d9c882,.scroller-2M3eAB, .messagesPopout__45690, .modalContent-33IoU, .content__49fc1, .scroller__2692d, .channelHeader__35a7e:not(#a) {
  background-color: var(--dark-background);
  box-shadow: 0 0 0 1px rgb(32 34 37 / 60%), 0 2px 10px 0 rgb(0 0 0 / 20%);
}
.theme-light .footer__49fc1,.message__89466,.footer__45690,.list_c441f0, .footer-1hTRRZ, .modalFooter-2XY3GW, .header__49fc1,.header_ab6641, .header__45690, .tutorial__2692d, .channel__427f0:not(#a) {
  background-color: var(--dark-background-secondary);
  box-shadow: inset 0 1px 0 rgb(47 49 54 / 60%);
}
.channelHeader__35a7e {
  filter:contrast(110%);
}
.modalContent-33IoU, .content__49fc1:not(#a) {
  border-radius:0px;
}
.card-1LSSlz:not(#a) {
  background-color: transparent;
  border-color:transparent;
}
.copyIcon__7f30b {
  display:none;
}
.content__49fc1:not(#a) {
  border-radius:0px;
}
.content__49fc1 ,.content__3ec70:not(#a) {
  box-shadow:none;
}
.header__49fc1,.header-DdKz5e {
  background-color:var(--background-primary);
}

.inspector_aeaaeb, .inspector_c0e32c, .footer_cba592 {
  background-color:var(--background-secondary);
}
.unicodeShortcut_b9ee0c {
  background:#16141b;
}
.emojiPickerListWrapper_c0e32c:not(#a), 
.emojiPickerListWrapper_c0e32c:not(#a) .header_c656ac:not(#a),
.categorySectionCollapsed_c656ac .header_c656ac:not(#a),
.categorySection_c656ac:not(#a),
.scroller_cba592:not(#a),
#uid_40:not(#a),
#popout_8885:not(#a),
.reactors_cc2dff:not(#a),
.list_f369db /* this is unrelated to popups / modals sorry i cba to format this properly anymore im too busy! its ok tho. this is just the uh background for the forums page ! */ {
  background-color:var(--background-primary);
}
.emojiItem_fc7141.emojiItemSelected_fc7141:not(#a),
.sticker_c6367b.stickerInspected_c6367b:not(#a),
.reactionSelected_cc2dff:not(#a),
.option__56fec:not(#a) /* find the selected class for this (hint: searchbar!) */ {
  background-color:#201e27; /* ^ */
}
.categoryItemDefaultCategory_b9ee0c.categoryItemDefaultCategorySelected_b9ee0c {
  background-color:#2b2933;
}
.emojiPicker_c0e32c .header_c0e32c,
.contentWrapper__08434,
.packHeader_e94b8c {
  background-color:var(--background-secondary);
}
.searchBarGrid-3PsYLd,
.wrapper_c4c084,
.container_fea832,
.searchBar_fed6d3  {
  background-color:var(--background-tertiary);
}
.contentWrapper__08434 .categoryList_c0e32c, .categoryList__3ad28, .list-obNEuP,
.queryContainer__55c99 {
  background-color:#1c1a22;
}
.container-2O1UgZ,.colorPickerCustom-1swUKF {
  background-color:var(--user-popout-bg);
}
.inner__999f6 {
  background-color:var(--background-tertiary);
}
.messageGroupCozy__45690 {
  background-color:var(--messagebox-bg);
}
.container__133bf .themed__9293f {
  background-color: var(--background-primary);
}
.avatarUploaderNormal-1h8g3f,
.avatarUploader-CHGwK7,
.imageUploaderInner_e4d0bf, 
.avatarUploaderInner-1dBiHs,
.imageUploaderIcon_e4d0bf {
  border-radius:5px;
}
.imageUploaderIcon_e4d0bf:not(#a) {
  background-color: rgb(0,0,0,0.7);
  border-radius: 1px 5px 1px 5px;
}
.avatarUploaderNormal-1h8g3f .status-b9jLr4 {
  display:none;
}
.modalSize_e1cc86 {
  background-color: var(--dark-background-secondary);
}
#gif-picker-tab-panel:not(#a),
.modalContent-1uVMnp:not(#a),
.artContainer__3ec70:not(#a),
.content__49fc1:not(#a),
.content__3ec70:not(#a),
.paymentPane__01014:not(#a),
.verticalFit__01014:not(#a),
.paginator__01014:not(#a),
#billing-history:not(#a),
.payment_e9cb00:not(#a),
.codeRedemptionRedirect_a706ba:not(#a),
.card-16VQ8C:not(#a){
  background-color: var(--background-secondary);
}
.searchOption__56fec:hover:not(#a),
.option__56fec:hover:not(#a) {
  background-color: var(--background-secondary-alt);
}
.searchOption__56fec:not(#a),
.option__56fec:not(#a) {
  background-color:var(--background-secondary);
}
.searchOption__56fec::after:not(#a),
.option__56fec::after:not(#a) {
  display:none;
}
#popout_22616:not(#a) > * {
  background-color: var(--background-secondary);
}
.avatar__1fed1 {
  border:none;
}

.container__133bf .themed__9293f{
  background-color:var(--background-primary);
}

.panels_c48ade {
  order:var(--userpanel-position);
  min-height:48px;
  background-color: var(--background-primary)!important;
}
.panels_c48ade .avatar__37e49 {
  margin-left:3px;
}
.container-1Lk8p7:not(#a),.content__49fc1:not(#a),.content__49fc1:not(#a),.templatesList-uohY49:not(#a),.optionsList-dmHy1l:not(#a) {
  background-color:var(--background-secondary);
}
.container-x8Y1ix:hover:not(#a) {
  background-color: rgb(0, 0, 0, 0.04);
}
#popout_415, .container__55c99, .queryContainer__55c99 {
  background-color:#121016;
}

.customItem-2CxBSo .button_f563df {
  border-radius:5px;
  background-color: rgba(31, 26, 35, 0.753);
  transition: .2s ease;
}
.customItem-2CxBSo .button_f563df:hover {
  background-color:rgba(31, 26, 35, 0.198);
}
.expandedFolderIconWrapper__48112,
.expandedFolderBackground__48112  {
    background-color: var(--opened-folder-bg);
}

.invite__4d3fa:not(#a) {
  background-color: rgb(0,255,0,0.07);
}
.keyboardShortcutsModal_f061f6:not(#a) {
  background-color: var(--background-secondary);
}
.scroller_cc2dff:not(#a) {
  background-color: var(--background-secondary-alt);
}
.avatarSmall__07f91:not(#a) {
  border-radius:5px;
}
.modalSize-3WSXDU {
  background-color: var(--background-secondary);
}
.paymentModalContent, .paymentModalContent .bodyWrapper-23FTiG, .headerAnimation-3DVb6i {
  background-color: var(--background-secondary);
}
.react-datepicker:not(#a),
.calendarPicker_d27f17:not(#a),
.react-datepicker__current-month:not(#a),
.react-datepicker__header:not(#a),
.react-datepicker__month:not(#a)  {
    background-color: var(--background-secondary);
}
.react-datepicker__day--disabled:not(#a),
.react-datepicker__day--outside-month:not(#a) {
    background-color: rgb(14,12,17,3);
}
#app-mount .colorPickerCustom-1swUKF:not(#a) {
  background-color: var(--background-secondary);
  border-radius:10px;
}
.content_f75fb0:not(#a),.title_f75fb0:not(#a),.pageBody__41ed7,.header__0b563,.page_c791b2 {
  background-color: var(--background-primary)!important;
}
.container_c68a2c, .containerCard__95c7a,.contentWrapper__9b0f4:not(#a),.container__024d4 {
  background-color: var(--background-secondary);
}
.guildIconImage_c1aa4
.inviteSplash__9b0f4 {
  filter:blur(0.956px);
  transition: 0.5s all ease;
}
.inviteSplash__9b0f4:hover {
  filter:none;
}

/* scrollbar. */
#app-mount ::-webkit-scrollbar-track {
  background: transparent;
}

#app-mount ::-webkit-scrollbar-thumb {
  background-color: var(--scroller-color);
}


.categoryHeader_d1405b {
  background-color: var(--autocomplete-bg);
}
.menu_c1e9c4:not(#a) {
  background-color:#151216;
}

.giftCodeContainer_b7e1cb .description__72090 {
  background-color: #1e1b25;
}
.tooltip__382e7, .popout__76f04 {
    backdrop-filter: blur(15px);
}

/* ChannelTabs Compatibility */
#app-mount #channelTabs-container{
  background: var(--background-secondary);
  margin: 10px;
  border-radius:5px;
}
#app-mount #channelTabs-settingsMenu{
  margin-right: 15px;
}
.channelTabs-tabContainer{
  margin: 2px;
}
.channelTabs-tab{
  margin-left: 5px;
}
.channelTabs-mentionBadge:not(#a) {
  border-radius: 4px;
  mask: none;
}
.channelTabs-tabIcon:not(#a), .channelTabs-tabIconWrapper > foreignObject {
  border-radius: 5px;
  mask: none;
}
.channelTabs-tabIconWrapper>foreignObject[mask]{
  mask: none;
}
#app-mount .channelTabs-tabIcon{
  border-radius: 10%;
}
.channelTabs-tabIconWrapper>rect:not(#a){
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  -webkit-mask: none;
  mask: none;
  display: block;
  rx: 5px;
  ry: 5px;
  fill: transparent ;
  stroke-width: var(--rs-small-width);
}
.channelTabs-tabIconWrapper>.channelTabs-doNotDisturbIcon{
  stroke: var(--rs-dnd-color);
}
.channelTabs-tabIconWrapper>.channelTabs-onlineIcon{
  stroke: var(--rs-online-color);
}
.channelTabs-tabIconWrapper>.channelTabs-idleIcon{
  stroke: var(--rs-idle-color);
}
.channelTabs-tabIconWrapper>.channelTabs-offlineIcon{
  stroke: var(--rs-offline-color);
}
.channelTabs-tabIconWrapper>rect:not(.channelTabs-offlineIcon,.channelTabs-idleIcon,.channelTabs-onlineIcon,.channelTabs-doNotDisturbIcon){
  stroke: var(--rs-streaming-color);
}

.container-2nx-BQ,
.bd-switch-body {
	width: 20px;
	height: 20px;
	background: transparent !important;
}

.container-2nx-BQ .slider-32CRPX,
.bd-switch-body .bd-switch-slider {
	left: -6px !important;
}

#app-mount .container-2nx-BQ .slider-32CRPX>rect,
#app-mount .bd-switch-body .bd-switch-slider rect {
	height: 20px;
	width: 20px;
	x: 4px;
	y: 0px;
	rx: 5;
	fill: var(--background-accent);

}
#app-mount .bd-switch-checked .bd-switch-symbol path {
	fill: rgb(0, 255, 0);
}
.bd-switch .bd-switch-symbol path {
	fill: #999;
}


.directoryModal-YJsOMv:not(#a)  {
  background-color:var(--background-secondary-alt);
}

/* colorpicker */
#app-mount .customColorPicker_bbc020{
  background: none;
}

/* spinning avatar which is ugly as fuck */
.spinningAvatar_abf1df{
  animation: none;
}

/* popout bug fixes */
.spinnerContainer-3a92uf{
  background: var(--background-secondary);
}
.root__49fc1 :where(.header__49fc1, .header-DdKz5e,.spinner-2RT7ZC){
  background-color: var(--background-secondary);
}

/* Chat bubble in delete message dialog */
.message__89466 {
  background-color:var(--chat-bubble-background-color)!important;
}

/* searchbar fix */
.option__56fec:after{
  background: var(--background-secondary);
}
.option__56fec:hover:after{
  background: linear-gradient(to left, var(--background-secondary-alt) 53%,transparent 94%);
}
#app-mount .queryContainer__55c99{
  background-color: var(--background-secondary);
}
#app-mount .queryShortcut__55c99 .key-N5VmHN{
  background-color: #282430;
  box-shadow: none;
}

/* phone number modal styling */
.phoneVerificationModal_db41ea{
  background-color: #121016;
}
.phoneVerificationModal_db41ea>.flex__7c0ba>button{
  background-color: var(--brand-experiment-500);
}
.phoneVerificationModal_db41ea>.flex__7c0ba>button:hover{
  background-color: var(--brand-experiment-560);
}
.phoneVerificationModal_db41ea>.flex__7c0ba>input,
.phoneVerificationModal_db41ea>.flex__7c0ba{
  background-color: var(--messagebox-bg);
  box-shadow: none;
  border: 0;
}
.phoneVerificationModal_db41ea>.flex__7c0ba{
  filter: drop-shadow(0 0 5px var(--messagebox-bg));
}
#app-mount .elevationBorderLow__2b2f1{
  background: var(--background-secondary);
}
body #app-mount .phoneFieldScroller__61a01>.selectableItem_eb626b:hover{
  background-color: var(--user-popout-bg);
}
#app-mount .phoneFieldScroller__61a01>.selectableItem_eb626b:focus{
  background-color: transparent;
}

/* region popout restyle */
#app-mount .quickSelectPopout_ebaca5{
  background: var(--background-floating);
  backdrop-filter: blur(20px);
}
body #app-mount .quickSelectPopout_ebaca5>.quickSelectPopoutOption_b852b1:hover{
  background-color: var(--background-modifier-hover);
}
#app-mount .quickSelectPopout_ebaca5>.quickSelectPopoutOption_b852b1:focus{
  background-color: transparent;
}
.topControls_bfe55a>:not([class])>.flex_abf706{
  margin-top: 5px;
}

/* restyling gif picker */
#app-mount .emptyHintCard__2dc39{
  background-color: var(--background-accent);
}
#gif-picker-tab-panel .result__2dc39>.categoryFadeBlurple_d02962{
  background-color: rgba(58, 49, 81, 0.8);
}
#app-mount #gif-picker-tab-panel .focused_bad108:after, #app-mount #gif-picker-tab-panel .result__2dc39:hover:after{
  box-shadow: inset 0 0 0 2px rgba(118, 100, 162),inset 0 0 0 3px rgba(118, 100, 162, 0.8);
}

/* Tab Bars (user profile) */
.tabBarItem-3VvT2z {
  background-color: var(--itemtab-default);
  padding:10px;
  margin-right:-25px;
  margin-bottom:15px;
  border-radius:10px;
  max-height:16px;
  border-color:var(--itemtab-default)!important;
}

.selected_b3f026.tabBarItem-3VvT2z {
  background-color: var(--itemtab-selected);
}

/* status emojipicker fix */
.formGroup-146LDV>.children__7bffb .inputContainer-3envCr :where(div+div:last-child,input){
  filter: none;
}

/* Voice Chat PFPs */
.voiceUser__07f91 .content__07f91 .userAvatar__55bab {
  border-radius:var(--rs-avatar-shape)!important;
}

.tooltip__382e7 {
    backdrop-filter: blur(15px);
}

/* Call Buttons */
.controlButton__1405b, .staticButton_f1ceac {
  border-radius:5px;
  mask:none;
}
.controlButton__1405b foreignObject {
  /* background-color: currentColor; */
  border-radius:5px;
  mask:none;
}
.controlButton__1405b svg:has([d="M21.526 8.149C21.231 7.966 20.862 7.951 20.553 8.105L18 9.382V7C18 5.897 17.103 5 16 5H4C2.897 5 2 5.897 2 7V17C2 18.104 2.897 19 4 19H16C17.103 19 18 18.104 18 17V14.618L20.553 15.894C20.694 15.965 20.847 16 21 16C21.183 16 21.365 15.949 21.526 15.851C21.82 15.668 22 15.347 22 15V9C22 8.653 21.82 8.332 21.526 8.149Z"]) > *, .controlButton__1405b svg:has([d="M6.7 11H5C5 12.19 5.34 13.3 5.9 14.28L7.13 13.05C6.86 12.43 6.7 11.74 6.7 11Z"])::before > *
 {
  background-color: #2b2d31!important;
}
.contextMenuNub_f1ceac {
  mask:none;
  border-radius:5px 0px 5px 0px;
  background-color: rgba(0, 0, 0, 0.322)!important;
}
.contextMenuNub_f1ceac:hover {
  background-color: rgba(0, 0, 0, 0.185)!important;
}
.status_f910d0 {
    border-radius: 5px;
}
.mainCard_f369db,.channelRow_e4503a {
  background-color: var(--background-secondary);
  border: 2px rgba(255, 255, 255, 0.048) solid;
}

/* Vencord Stuff */
.vc-plugins-filter-controls .inputWrapper__0f084 input,
.vc-plugins-filter-controls .select__3f413 {
    background-color: var(--background-tertiary);
    border-color: var(--background-tertiary);
}
.vc-settings-quickActions-pill {
    border-radius:5px;
}

/* Scrollbar bug (in Settings, when your screen is smaller) fix */
.header_b3f026 > *{
    overflow:hidden;
}

/* Titlebar half-colored fix */
.typeWindows__421ed {
    background-color: var(--background-tertiary);
}

/* Apps Menu */
.channelAppLauncher_e6e74f button {
    background-color: var(--messagebox-bg);	
    border-radius: 5px;
}
.contentWrapper__9c62c {
    background-color: var(--background-primary)
}
.appDetailsContainer_cb32c7 {
    background-color: var(--background-secondary-alt);
    transition: ease-in-out 0.2s all;
}
.appDetailsContainer_cb32c7:hover {
    background-color: var(--background-tertiary);
}
.container__19cf2 {
    background-color: var(--background-secondary-alt);
}

/* PFP Fix */
.mask__68edb circle {
    display:none;
}
.overlay__75742::after {
    border-radius:5px;
}

.footer__214dc {
    background:none
}

/* Userpanel Button Fix */
.micButtonParent__37e49 {
    margin-right:0px;
}

/* quick emoji picker on rightclick modal bluhh */
.button_f563df {
    border-radius:5px;
}


/* Visual Refresh Revert */
.visual-refresh .sidebarListRounded_c48ade{
    border-top-left-radius: 5px!important;
}

/* fleep you, visual refresh */
