@import url("https://garfield933.github.io/soon/main/extra/fonts.css");
@import url("https://garfield933.github.io/soon/main/extra/snippets.css");
@import url("https://garfield933.github.io/soon/main/extra/revertVisualRefresh.css");


:root {
  /* Theme Version */
    --soon-ver: "1.3.0";
}
/* Fonts */
code {
  font-family: var(--codeblock-font);
}

/* Pin Home Icon */
._5e434347c823b592-guilds .ef3116c2da186559-tree:focus {
  outline-color: transparent;
}

._5e434347c823b592-guilds .ef3116c2da186559-scroller {
  contain: unset;
  margin-top: 32px;
}

._5e434347c823b592-guilds .ef3116c2da186559-scroller, ._1f388bcaa446c0c8-tutorialContainer {
  background-color: var(--background-tertiary)!important;
  border-top-right-radius:10px;
}
._1f388bcaa446c0c8-tutorialContainer._650eb104245d257b-listItem.wrapper__8436d[data-list-item-id="guildsnav___home"]:not(#a) {
  margin-top:25px;
}
._252b6afd49fda06f-guildSeparator {
  display:none;
}
.ef3116c2da186559-unreadMentionsIndicatorTop {
  margin-top:50px;
}

/* Server List */
.ef3116c2da186559-itemsContainer, .dbd2630aec71879b-stack.ef3116c2da186559-scroller.d125d22cdfd32cfe-none.d125d22cdfd32cfe-scrollerBase, ._1f388bcaa446c0c8-tutorialContainer /*, ._650eb104245d257b-tutorialContainer, ._650eb104245d257b-listItem:has(.ef3116c2da186559-discoveryIcon) */ {
    background-color: var(--background-primary)!important;
}

.ef3116c2da186559-scroller {
  background-color:#211d2981!important;
}
._1f388bcaa446c0c8-tutorialContainer > ._650eb104245d257b-listItem:first-child{
  margin-top:9px;
}
.ef3116c2da186559-scroller .cc5dd25190031396-wrapper foreignObject, ._48112cbe77dc5022-folderPreviewWrapper, .wrapperSimple_cc5dd2, ._48112cbe77dc5022-folderGroupBackground {
  mask: none;
  border-radius: var(--folder-radius);
}
.f34534e8a5d3ca64-icon {
  mask:none;
  border-radius:var(--server-radius);
}
/* Servers */
._1f388bcaa446c0c8-tutorialContainer .selected_dfb2f8 .childWrapper_a6ce15, .wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15:not(#bbc) {
  background-color:#17151d;
}
  
/* Titlebar/Wordmark */
._421edea01cb52e16-wordmark {
  color: gray;
  align-items: center;
  width: fit-content;
  font-size: 15px;
  font-weight: 800;
}
._421edea01cb52e16-titleBar ._421edea01cb52e16-wordmark {
  padding: 5px 9px 5px;
  width: 100vw;
  display: flex;
  justify-content: center;
}
._421edea01cb52e16-wordmark::before {
  content:" Soon";
  position: absolute;
  font-size: 15px;
  margin-top: 10px;
}
._421edea01cb52e16-wordmark::after {
  content: "by Satana";
  position: absolute;
  font-size: 15px;
  margin-left: 115px;
  font-weight: 400;
  margin-top: 10px;
}
._421edea01cb52e16-wordmark > svg {
  display: none;
}
  
  
/* User Panel */
._67645e1530f1195d-button {
  background-color: #18141d;
  border-radius:0px;
  transition: all 0.2s ease-in-out;
}
._67645e1530f1195d-button:hover:not(#a) {
  background-color: #241f2b;
}
._67645e1530f1195d-button:first-child {
  border-radius: 10px 0 0 10px!important;
}
._67645e1530f1195d-button:nth-child(2) {
  border-radius:0px;
}
._67645e1530f1195d-button:last-child {
  border-radius: 0 10px 10px 0;
}
.status-2DiCMd svg:not(#a) {
  mask: none;
  border-radius: 0;
}
.c1e9c47c23f12ca3-menu,.d5cd2da5733d0b6e-emojiSection {
  background-color: var(--user-popout-bg);
}


/* Action Buttons */
.f8fa068db52f043f-actionButton {
  border-radius: 10px;
}

/* Avatars */
._44b0c28be7879b7b-wrapper foreignObject,
.f910d08f42c82225-callAvatarMask foreignObject,
._183c2cc3c55377b0-avatarContainer foreignObject,
.avatarMasked__0b3c8 {
  mask: none;
  -webkit-mask: none;
}
._44b0c28be7879b7b-wrapper,
._44b0c28be7879b7b-avatar,
.profile_d6fbe8 .avatarUploaderInner-yEhTv5,
.f910d08f42c82225-voiceAvatar,
.c19a557985eb7793-avatar,
.f910d08f42c82225-border,
._07f9193042954787-avatar,
._183c2cc3c55377b0-clickableAvatar,
._183c2cc3c55377b0-emptyUser,
._183c2cc3c55377b0-avatar,
.f910d08f42c82225-wrapper.f910d08f42c82225-ringingIncoming::after,
.f910d08f42c82225-wrapper.f910d08f42c82225-ringingOutgoing::after,
.c19a557985eb7793-replyAvatar,
.avatarSpeaking-33RRJU,
.avatar-2EVtgZ,
._183c2cc3c55377b0-avatarContainerMasked,
.appAvatar-2_lufo {
  border-radius: var(--avatar-radius);
}
.avatarHint-2g3Mcd,
.avatarHint-2g3Mcd foreignObject {
  border-radius: var(--avatar-radius);
  mask: none;
}
.avatarHintInner-3gk_Yx {
  border-radius: var(--avatar-radius);
}
.topSection_b9fccc header svg mask {
    display:none;
}
/* RS Typing Animation Removal */
#app-mount ._44b0c28be7879b7b-wrapper ._44b0c28be7879b7b-pointerEvents[x="14.5"] {
  fill: transparent !important;
  width: 30px;
  height: 30px;
  x: 1;
  y: 1;
}
  
/* Mentions */
._2b1f52e43a8f1c02-numberBadge:not(#a) {
  mask: none;
  -webkit-mask: none;
  border-radius: 5px;
  border: solid 1px var(--background-tertiary);
}
.cc5dd25190031396-lowerBadge:not(#a) {
  border-radius: 5px 3px 0 3px;
  margin: 0 -5px -5px 0;
  border: solid 2px var(--background-tertiary);
  background-color: var(--background-tertiary);
}
.ef3116c2da186559-unreadMentionsIndicatorBottom._3b95d7d910416e54-bar,.ef3116c2da186559-unreadMentionsBar:not(#a) {
  mask: none;
  border-radius: 5px;
}

/* Message Box */
.f75fb00fb7356cbe-channelTextArea>._740174f3d6a2c8fe-scrollableContainer:not(#a) {
  border-radius:5px;
  background-color:var(--messagebox-bg);
}
._1b31f471f0bb10ab-placeholder {
  text-align:var(--messagebox-align);
}
.textArea-220_Gz, ._740174f3d6a2c8fe-channelTextArea, ._740174f3d6a2c8fe-scrollableContainer {
  background-color:var(--messagebox-bg);
}

/* Titlebar Buttons */
._421edea01cb52e16-winButton:not(#a) {
  border-radius:5px;
  transition:all 0.2s ease-in-out;
}
  
/*
This is for the
(Purpura Color Palette by blueb442)
Do Not Touch.
*/
.theme-dark._9293f6b2fc12398a-container {
  background-color:var(--toolbar-bg);
}
._5bc7ed9d4097f6b5-circleIconButton {
  background-color:#17151d;
}
.childWrapper_a6ce15.acronym_fb7739 {
  background-color:#17151d;
}
._13533e3c5791980f-autocomplete,._6b0e07cbaf13ec4e-autocomplete,._6b0e07cbaf13ec4e-autocompleteAttached:not(#a) {
  background-color:var(--autocomplete-bg);
}
._13533e3c5791980f-autocompleteInner {
  background-color:var(--autocomplete-bg);
}

/* bug fixes */
._9293f6b2fc12398a-children:after{
  content: none;
}
  
/* User Popout */
.userPopout-3fydSP,.userPopoutInner-PA9zkU,.animatorRight-xAUgTY,.userPopoutInnerNonPremium-3zrFkp,.bodyInnerWrapper-2bQs1k,._44b0c28be7879b7b-wrapper,.topSection-13QKHs,.body-1Ukv50,.footer-3naVBw,.overlayBackground-arbZMT {
  background-color:var(--user-popout-bg);
  border-color:var(--user-popout-bg);
  border-radius:5px;
}
.connectedAccountContainer-SlCC-S {
  background-color:var(--connected-accounts-bg);
}
.inputWrapper-1YNMmM,.inputDefault-3FGxgL {
  background-color:var(--messagebox-bg);
  filter:brightness(80%);
  border-radius:5px;
}
.inputWrapper-1YNMmM,.inputDefault-3FGxgL:hover,.inputWrapper-1YNMmM,.inputDefault-3FGxgL:focus {
  background-color:var(--messagebox-bg);
  filter:brightness(65%);
}
  
/* Banners */
.layer-1Ixpg3 ._68edb95846a37624-banner .banner-2boKnS,.bannerPremium-86naOf,.profileBanner-2zIsK7, .popoutBanner-16rVDY, .popoutBanner_c3e427, .popoutBannerPremium-3i5EE, .bannerPremium_c3e427 {
  filter: blur(calc(var(--banner-blur-amount) * 1px * var(--banner-blur)));
  transition:1s ease all;
}
.layer-1Ixpg3 ._68edb95846a37624-banner:hover,.profileBanner-2zIsK7:hover, .banner-2boKnS:hover, .popoutBanner_c3e427:hover, .popoutBannerPremium-3i5EE:hover, .bannerPremium_c3e427:hover {
  filter:none;
}
.userPopoutInnerNonPremium-3zrFkp .bannerSVGWrapper_b32cc2 foreignObject { /* Banner SVG Fix */
  mask: none;
}
.bannerSVGWrapper_b32cc2 mask circle {
    display:none;
}
  
/* Avatar */
.c19a557985eb7793-replyAvatar {
  mask:none;
  border-radius:var(--reply-avatar-radius);
}
.c19a557985eb7793-avatar {
  border:1px solid transparent;
  transition: all ease-in-out 0.55s;
}
.c19a557985eb7793-avatar:hover {
  border-color:rgba(104, 58, 126, 0.322);
}
._44b0c28be7879b7b-wrapper circle {
  fill:transparent;
}

/* Add Server Modal [+] */
.theme-light .close-1mLglB._201d5e8a3c09670a-button, ._78f6989168778e7c-backButton {
    opacity: 1;
    color: var(--text-normal);
}
.theme-light ._49fc18ba07c5025f-root, .modalContent-33IoU, ._49fc18ba07c5025f-header {
  background-color: var(--dark-background-secondary);
}
.theme-light ._49fc18ba07c5025f-footer, .modalFooter-2XY3GW {
  background-color: var(--dark-background-secondary);
  box-shadow: inset 0 1px 0 rgb(47 49 54 / 60%);
}
.theme-light ._99f8cc7ad4790ce9-thin::-webkit-scrollbar-thumb {
  background-color: var(--dark-background-tertiary);
}
.theme-light .subtitle-3m-md1,.theme-light .subtitle-bIoUVX,.theme-light .subtitle-1cc8Nz,.theme-light .optionHeader-27AHfD,.theme-light .text-PdAsFQ,.theme-light .text-sm-normal-3Zj3Iv,.theme-light .skip-2hTIXL,.theme-light .guidelines-FvqqF2,.theme-light .colorStandard_c9946a,.theme-light .text-xs-normal-3SiVjE.rowText-3MQqQi:not(#a) {
  color: var(--dark-header-secondary) ;
}
.theme-light .inputDefault-3FGxgL,.theme-light .sampleLink-5BWNy9 {
  color: var(--dark-text);
}
.theme-light .defaultColor-24IHKz {
  color: var(--dark-header);
}
.theme-light .anchor-1MIwyf {
  color: var(--dark-link);
}
.theme-light .container-x8Y1ix {
  background-color: var(--dark-background);
  border-color: hsla(0, 0%, 100%, 0.06);
}
.theme-light .rowContainer-3t7486 {
  background-color: var(--dark-background-secondary);
}
.theme-light .container-x8Y1ix:hover,.theme-light .rowContainer-3t7486:hover {
  background-color: var(--dark-modifier-hover);
}
.theme-light .container-x8Y1ix:active,.theme-light .rowContainer-3t7486:active {
  background-color: var(--dark-modifier-selected);
}
.theme-light .arrow-2yY1Tm {
  filter: brightness(0) saturate(100%) invert(84%) sepia(4%) saturate(191%) hue-rotate(177deg) brightness(89%) contrast(91%);
}
.theme-light .footerButton-24QPis {
  background-color: var(--blurple);
}
.theme-light .footerButton-24QPis:hover {
  background-color: #4752c4;
}
.theme-light .footerButton-24QPis:active {
  background-color: var(--blurple);
}
.theme-light .lookBlank-21BCro,.theme-light .lookLink-15mFoz.colorPrimary-2AuQVo {
  color: var(--dark-header);
  text-decoration-color: var(--dark-header);
}
.theme-light .lookBlank-21BCro:hover,.theme-light .lookLink-15mFoz.colorPrimary-2AuQVo:hover {
  text-decoration: underline;
}
.theme-light .uploadIcon-2wV7s_ {
  color: var(--dark-header-secondary);
}
.theme-light .inputDefault-3FGxgL {
  background-color: var(--dark-background-tertiary);
  font-weight: 400;
}
.theme-light .inputDefault-3FGxgL::placeholder {
  font-weight: 400;
  color: #87898c;
}
.theme-light .input-m1-Y7Q {
  background-color: var(--dark-background-tertiary);
}
.theme-light .close-1mLglB._201d5e8a3c09670a-button,._78f6989168778e7c-backButton {
  opacity: 0.5;
  color:#80848E;
}
.theme-light .close-1mLglB._201d5e8a3c09670a-button:hover, _78f6989168778e7c-backButton:hover {
  opacity: 1;
}
.ef3116c2da186559-scroller {
  contain: unset;
  padding-bottom: 190px;
}
.ef3116c2da186559-scroller::before {
    content: "";
    position: fixed;
    bottom: 0;
    width: 72px;
    height: 190px;
    background: linear-gradient(transparent, var(--background-tertiary) 70%);
    z-index: 1;
    pointer-events: none!important;
}
._650eb104245d257b-tutorialContainer {
    position: fixed;
    bottom: 0;
    z-index: 1;
}
._650eb104245d257b-listItem:has(.ef3116c2da186559-discoveryIcon) {
    position: fixed;
    bottom: 58px;
    contain: none;
    z-index: 1;
}
._650eb104245d257b-listItem:has(.ef3116c2da186559-discoveryIcon) foreignObject {
    mask: none;
    border-radius: var(--folder-radius);
}
._1f388bcaa446c0c8-tutorialContainer > * {
    margin-bottom:0px!important;
}
  
/* Discover Servers Page */
.pageWrapper_a3a4ce,.list-3FIpnh,.directoryContainer_da3f59 {
  background-color: #19171b!important;
}
.searchBox__56feb:not(#a) {
  background-color:#141218;
}
.searchBoxInput-3h4etz:not(#a) {
  color:var(--messagebox-text);
}
.aa8da23faa27393c-selected {
    background-color: transparent!important;
}
._5e434347c823b592-page ._1ac1c54c56e5807c-searchBar {
    height:35px;
}
._5e434347c823b592-page .inner_a45028 {
    padding-bottom:3px!important;
}
._551b0894962ff66f-container {
    background-color: var(--background-secondary)!important;
}
.b6bcee13c278a88d-contentSection {
    background-color: var(--background-primary)!important;
}
._84e3e626b96552ad-card ._4cb8ad5be329b603-guildDetails {
    background-color: var(--background-secondary)!important;
    transition:0.3s ease all;
}
._84e3e626b96552ad-card ._4cb8ad5be329b603-guildDetails:hover,
._84e3e626b96552ad-card ._4cb8ad5be329b603-guildDetails:hover .visual-refresh.theme-dark ._4cb8ad5be329b603-iconMask, .visual-refresh.theme-light ._4cb8ad5be329b603-iconMask,
.dca174a2baed7ac1-container, 
.d3846c099147bad3-spinnerContainer {
    background-color: var(--background-secondary-alt)!important;
}
  
/* Custom Status Modal */
.modalRoot-1uudbL:not(#a) {
  background-color: var(--dark-background);
}
._49fc18ba07c5025f-footer:not(#a) {
  background-color: var(--dark-background-secondary);
}
.select-1Ia3hD:not(#a) {
  background-color:var(--user-popout-bg);
}
.option-2eIyOn:not(#a) {
  background-color:var(--user-popout-bg);
  filter:contrast(110%);
}
.option-2eIyOn:hover:not(#a) {
  background-color:var(--user-popout-bg);
  filter:contrast(120%);
}
  
/* Server Boost Modal */
.perksModal-CLcR1c:not(#a) {
  background-color:var(--background-primary);
}
  
/* Settings Info (bottom of sidebar) */
#app-mount ._2debea61131de3de-info ._2debea61131de3de-line:last-child:after {
  content: "Soon v" var(--soon-ver);
  display: block;
  text-transform:none;
}
#app-mount ._2debea61131de3de-info ._2debea61131de3de-line:first-child::before {
  content: "Soon by Garfield933 / Morgan Fielder";
  display: block;
  font-weight:bold;
  text-transform:none;
}

/* All Popups/Modals */
.theme-light ._49fc18ba07c5025f-root,._49fc18ba07c5025f-content,._49fc18ba07c5025f-header,._6764bd76e0340219-container,.scroller-3nFW5p,.d9c8822889d1d4a1-header,.scroller-2M3eAB, .e8b59c4b335dd2fc-messagesPopout, .modalContent-33IoU, ._49fc18ba07c5025f-content, ._2692d04af6567ec8-scroller, ._35a7ecf3aba351b2-channelHeader:not(#a) {
  background-color: var(--dark-background);
  box-shadow: 0 0 0 1px rgb(32 34 37 / 60%), 0 2px 10px 0 rgb(0 0 0 / 20%);
}
.theme-light ._49fc18ba07c5025f-footer,.fd14e024a43b9049-message,.e8b59c4b335dd2fc-footer,.c441f0072c3e8827-list, .footer-1hTRRZ, .modalFooter-2XY3GW, ._49fc18ba07c5025f-header,.ab66419eae73260f-header, .e8b59c4b335dd2fc-header, ._2692d04af6567ec8-tutorial, ._427f0273a157ab7a-channel:not(#a) {
  background-color: var(--dark-background-secondary);
  box-shadow: inset 0 1px 0 rgb(47 49 54 / 60%);
}
._35a7ecf3aba351b2-channelHeader {
  filter:contrast(110%);
}
.modalContent-33IoU, ._49fc18ba07c5025f-content:not(#a) {
  border-radius:0px;
}
.card-1LSSlz:not(#a) {
  background-color: transparent;
  border-color:transparent;
}
.copyIcon__7f30b {
  display:none;
}
._49fc18ba07c5025f-content:not(#a) {
  border-radius:0px;
}
._49fc18ba07c5025f-content ,._3ec704473ec6c7bf-content:not(#a) {
  box-shadow:none;
}
._49fc18ba07c5025f-header,.header-DdKz5e {
  background-color:var(--background-primary);
}

.aeaaeb2a573807f0-inspector, .c0e32c5cffed3d9f-inspector, .cba5926a3ea0ad97-footer {
  background-color:var(--background-secondary);
}
.b9ee0c229bc0b6bb-unicodeShortcut {
  background:#16141b;
}
 /* settings user modal pfp changer */
.d28e107656edce18-overlay:after {
    border-radius: 9px;
}
.c0e32c5cffed3d9f-emojiPickerListWrapper:not(#a), 
.c0e32c5cffed3d9f-emojiPickerListWrapper:not(#a) .c656aca9a3db31a9-header:not(#a),
.c656aca9a3db31a9-categorySectionCollapsed .c656aca9a3db31a9-header:not(#a),
.c656aca9a3db31a9-categorySection:not(#a),
.cba5926a3ea0ad97-scroller:not(#a),
#uid_40:not(#a),
#popout_8885:not(#a),
.b7f4b43fe1b6e285-reactors:not(#a),
.f369dba7416c67f0-list /* this is unrelated to popups / modals sorry i cba to format this properly anymore im too busy! its ok tho. this is just the uh background for the forums page ! */ {
  background-color:var(--background-primary);
}
.fc7141859aaa98b7-emojiItem.fc7141859aaa98b7-emojiItemSelected:not(#a),
.c6367b0f171ba6d7-sticker.c6367b0f171ba6d7-stickerInspected:not(#a),
.b7f4b43fe1b6e285-reactionSelected:not(#a),
._16eb0bfd5c5a90d1-option:not(#a) /* find the selected class for this (hint: searchbar!) */ {
  background-color:#201e27; /* ^ */
}
.b9ee0c229bc0b6bb-categoryItemDefaultCategory.b9ee0c229bc0b6bb-categoryItemDefaultCategorySelected {
  background-color:#2b2933;
}
.c0e32c5cffed3d9f-emojiPicker .c0e32c5cffed3d9f-header,
._084343c4f11eaaab-contentWrapper,
.e94b8cb2ff7b5c8d-packHeader {
  background-color:var(--background-secondary);
}
.searchBarGrid-3PsYLd,
.wrapper_c4c084,
.container_fea832,
.searchBar_fed6d3  {
  background-color:var(--background-tertiary);
}
._084343c4f11eaaab-contentWrapper .c0e32c5cffed3d9f-categoryList, ._3ad28b0867fa3fad-categoryList, .list-obNEuP,
._55c999adcf6db265-queryContainer {
  background-color:#1c1a22;
}
.container-2O1UgZ,.colorPickerCustom-1swUKF {
  background-color:var(--user-popout-bg);
}
.inner__999f6 {
  background-color:var(--background-tertiary);
}
.e8b59c4b335dd2fc-messageGroupCozy {
  background-color:var(--messagebox-bg);
}
._133bf5eea8e33a34-container ._9293f6b2fc12398a-themed {
  background-color: var(--background-primary);
}
.avatarUploaderNormal-1h8g3f,
.avatarUploader-CHGwK7,
.e4d0bf303c296a8e-imageUploaderInner, 
.avatarUploaderInner-1dBiHs,
.e4d0bf303c296a8e-imageUploaderIcon {
  border-radius:5px;
}
.e4d0bf303c296a8e-imageUploaderIcon:not(#a) {
  background-color: rgb(0,0,0,0.7);
  border-radius: 1px 5px 1px 5px;
}
.avatarUploaderNormal-1h8g3f .status-b9jLr4 {
  display:none;
}
.modalSize_e1cc86 {
  background-color: var(--dark-background-secondary);
}
#gif-picker-tab-panel:not(#a),
.modalContent-1uVMnp:not(#a),
._3ec704473ec6c7bf-artContainer:not(#a),
._49fc18ba07c5025f-content:not(#a),
._3ec704473ec6c7bf-content:not(#a),
._01014d2e38bd7c76-paymentPane:not(#a),
._01014d2e38bd7c76-verticalFit:not(#a),
.paginator__01014:not(#a),
#billing-history:not(#a),
.e9cb00d6250845ad-payment:not(#a),
.a706ba33cbeb179a-codeRedemptionRedirect:not(#a),
.card-16VQ8C:not(#a){
  background-color: var(--background-secondary);
}
._16eb0bfd5c5a90d1-searchOption:hover:not(#a),
._16eb0bfd5c5a90d1-option:hover:not(#a) {
  background-color: var(--background-secondary-alt);
}
._16eb0bfd5c5a90d1-searchOption:not(#a),
._16eb0bfd5c5a90d1-option:not(#a) {
  background-color:var(--background-secondary);
}
._16eb0bfd5c5a90d1-searchOption::after:not(#a),
._16eb0bfd5c5a90d1-option::after:not(#a) {
  display:none;
}
#popout_22616:not(#a) > * {
  background-color: var(--background-secondary);
}
._1fed1dd06c7aabf7-avatar {
  border:none;
}

._133bf5eea8e33a34-container ._9293f6b2fc12398a-themed{
  background-color:var(--background-primary);
}

._5e434347c823b592-panels {
  order:var(--userpanel-position);
  min-height:48px;
}
._5e434347c823b592-panels ._37e49614b9f110a9-avatar {
  margin-left:3px;
}
.container-1Lk8p7:not(#a),._49fc18ba07c5025f-content:not(#a),._49fc18ba07c5025f-content:not(#a),.templatesList-uohY49:not(#a),.optionsList-dmHy1l:not(#a) {
  background-color:var(--background-secondary);
}
.container-x8Y1ix:hover:not(#a) {
  background-color: rgb(0, 0, 0, 0.04);
}
#popout_415, ._55c999adcf6db265-container, ._55c999adcf6db265-queryContainer {
  background-color:#121016;
}

.customItem-2CxBSo .f563df886a7377be-button {
  border-radius:5px;
  background-color: rgba(31, 26, 35, 0.753);
  transition: .2s ease;
}
.customItem-2CxBSo .f563df886a7377be-button:hover {
  background-color:rgba(31, 26, 35, 0.198);
}
.expandedFolderIconWrapper__48112,
._48112cbe77dc5022-folderGroupBackground  {
    background-color: var(--opened-folder-bg);
}

.invite__4d3fa:not(#a) {
  background-color: rgb(0,255,0,0.07);
}
.f061f614def5a8d6-keyboardShortcutsModal:not(#a) {
  background-color: var(--background-secondary);
}
.b7f4b43fe1b6e285-scroller:not(#a) {
  background-color: var(--background-secondary-alt);
}
._07f9193042954787-avatarSmall:not(#a) {
  border-radius:5px;
}
.modalSize-3WSXDU {
  background-color: var(--background-secondary);
}
.paymentModalContent, .paymentModalContent .bodyWrapper-23FTiG, .headerAnimation-3DVb6i {
  background-color: var(--background-secondary);
}
.react-datepicker:not(#a),
.d27f17593b8064c5-calendarPicker:not(#a),
.react-datepicker__current-month:not(#a),
.react-datepicker__header:not(#a),
.react-datepicker__month:not(#a)  {
    background-color: var(--background-secondary);
}
.react-datepicker__day--disabled:not(#a),
.react-datepicker__day--outside-month:not(#a) {
    background-color: rgb(14,12,17,3);
}
#app-mount .colorPickerCustom-1swUKF:not(#a) {
  background-color: var(--background-secondary);
  border-radius:10px;
}
.f75fb00fb7356cbe-content:not(#a),.f75fb00fb7356cbe-title:not(#a),._41ed70e52483df6d-pageBody,._0b56311ebc6682e2-header,.c791b281f2fedc32-page {
  background-color: var(--background-primary)!important;
}
.container_c68a2c, .containerCard__95c7a,._9b0f44488203477c-contentWrapper:not(#a),.a244c3c87d2b1e13-container {
  background-color: var(--background-secondary);
}
.guildIconImage_c1aa4
._9b0f44488203477c-inviteSplash {
  filter:blur(0.956px);
  transition: 0.5s all ease;
}
._9b0f44488203477c-inviteSplash:hover {
  filter:none;
}

/* scrollbar. */
#app-mount ::-webkit-scrollbar-track {
  background: transparent;
}

#app-mount ::-webkit-scrollbar-thumb {
  background-color: var(--scroller-color);
}


.d1405bf11dcfb07a-categoryHeader {
  background-color: var(--autocomplete-bg);
}
.c1e9c47c23f12ca3-menu:not(#a) {
  background-color:#151216;
}

.b7e1cb0370c2dd0e-giftCodeContainer ._72090deda6ab7f6d-description {
  background-color: #1e1b25;
}
.c36707910f687430-tooltip, ._76f047ded9fef6d4-popout, .b49891f8a231dbff-reactionTooltip {
    backdrop-filter: blur(15px);
}

/* ChannelTabs Compatibility */
#app-mount #channelTabs-container{
  background: var(--background-secondary);
  margin: 10px;
  border-radius:5px;
}
#app-mount #channelTabs-settingsMenu{
  margin-right: 15px;
}
.channelTabs-tabContainer{
  margin: 2px;
}
.channelTabs-tab{
  margin-left: 5px;
}
.channelTabs-mentionBadge:not(#a) {
  border-radius: 4px;
  mask: none;
}
.channelTabs-tabIcon:not(#a), .channelTabs-tabIconWrapper > foreignObject {
  border-radius: 5px;
  mask: none;
}
.channelTabs-tabIconWrapper>foreignObject[mask]{
  mask: none;
}
#app-mount .channelTabs-tabIcon{
  border-radius: 10%;
}
.channelTabs-tabIconWrapper>rect:not(#a){
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  -webkit-mask: none;
  mask: none;
  display: block;
  rx: 5px;
  ry: 5px;
  fill: transparent ;
  stroke-width: var(--rs-small-width);
}
.channelTabs-tabIconWrapper>.channelTabs-doNotDisturbIcon{
  stroke: var(--rs-dnd-color);
}
.channelTabs-tabIconWrapper>.channelTabs-onlineIcon{
  stroke: var(--rs-online-color);
}
.channelTabs-tabIconWrapper>.channelTabs-idleIcon{
  stroke: var(--rs-idle-color);
}
.channelTabs-tabIconWrapper>.channelTabs-offlineIcon{
  stroke: var(--rs-offline-color);
}
.channelTabs-tabIconWrapper>rect:not(.channelTabs-offlineIcon,.channelTabs-idleIcon,.channelTabs-onlineIcon,.channelTabs-doNotDisturbIcon){
  stroke: var(--rs-streaming-color);
}

.container-2nx-BQ,
.bd-switch-body {
	width: 20px;
	height: 20px;
	background: transparent !important;
}

.container-2nx-BQ .slider-32CRPX,
.bd-switch-body .bd-switch-slider {
	left: -6px !important;
}

#app-mount .container-2nx-BQ .slider-32CRPX>rect,
#app-mount .bd-switch-body .bd-switch-slider rect {
	height: 20px;
	width: 20px;
	x: 4px;
	y: 0px;
	rx: 5;
	fill: var(--background-accent);

}
#app-mount .bd-switch-checked .bd-switch-symbol path {
	fill: rgb(0, 255, 0);
}
.bd-switch .bd-switch-symbol path {
	fill: #999;
}


.directoryModal-YJsOMv:not(#a)  {
  background-color:var(--background-secondary-alt);
}

/* colorpicker */
#app-mount .customColorPicker_bbc020{
  background: none;
}

/* spinning avatar which is ugly as fuck */
.abf1df291972494e-spinningAvatar{
  animation: none;
}

/* popout bug fixes */
.spinnerContainer-3a92uf{
  background: var(--background-secondary);
}
._49fc18ba07c5025f-root :where(._49fc18ba07c5025f-header, .header-DdKz5e,.spinner-2RT7ZC){
  background-color: var(--background-secondary);
}

/* Chat bubble in delete message dialog */
.fd14e024a43b9049-message {
  background-color:var(--chat-bubble-background-color)!important;
}

/* searchbar fix */
._16eb0bfd5c5a90d1-option:after{
  background: var(--background-secondary);
}
._16eb0bfd5c5a90d1-option:hover:after{
  background: linear-gradient(to left, var(--background-secondary-alt) 53%,transparent 94%);
}
#app-mount ._55c999adcf6db265-queryContainer{
  background-color: var(--background-secondary);
}
#app-mount ._55c999adcf6db265-queryShortcut .key-N5VmHN{
  background-color: #282430;
  box-shadow: none;
}

/* phone number modal styling */
.phoneVerificationModal_db41ea{
  background-color: #121016;
}
.phoneVerificationModal_db41ea>._7c0bae9243151ddd-flex>button{
  background-color: var(--brand-experiment-500);
}
.phoneVerificationModal_db41ea>._7c0bae9243151ddd-flex>button:hover{
  background-color: var(--brand-experiment-560);
}
.phoneVerificationModal_db41ea>._7c0bae9243151ddd-flex>input,
.phoneVerificationModal_db41ea>._7c0bae9243151ddd-flex{
  background-color: var(--messagebox-bg);
  box-shadow: none;
  border: 0;
}
.phoneVerificationModal_db41ea>._7c0bae9243151ddd-flex{
  filter: drop-shadow(0 0 5px var(--messagebox-bg));
}
#app-mount ._2b2f1bb918566c48-elevationBorderLow{
  background: var(--background-secondary);
}
body #app-mount ._61a011270c9135f1-phoneFieldScroller>.eb626bad733b3a0d-selectableItem:hover{
  background-color: var(--user-popout-bg);
}
#app-mount ._61a011270c9135f1-phoneFieldScroller>.eb626bad733b3a0d-selectableItem:focus{
  background-color: transparent;
}

/* region popout restyle */
#app-mount .ebaca56eb4bb23eb-quickSelectPopout{
  background: var(--background-floating);
  backdrop-filter: blur(20px);
}
body #app-mount .ebaca56eb4bb23eb-quickSelectPopout>.quickSelectPopoutOption_b852b1:hover{
  background-color: var(--background-modifier-hover);
}
#app-mount .ebaca56eb4bb23eb-quickSelectPopout>.quickSelectPopoutOption_b852b1:focus{
  background-color: transparent;
}
.bfe55a0aaaf62375-topControls>:not([class])>.abf7060e6f2beabe-flex{
  margin-top: 5px;
}

/* restyling gif picker */
#app-mount ._2dc39186a9b98da4-emptyHintCard{
  background-color: var(--background-accent);
}
#gif-picker-tab-panel ._2dc39186a9b98da4-result>.d02962a38047ac3c-categoryFadeBlurple{
  background-color: rgba(58, 49, 81, 0.8);
}
#app-mount #gif-picker-tab-panel .focused_bad108:after, #app-mount #gif-picker-tab-panel ._2dc39186a9b98da4-result:hover:after{
  box-shadow: inset 0 0 0 2px rgba(118, 100, 162),inset 0 0 0 3px rgba(118, 100, 162, 0.8);
}

/* Tab Bars (user profile) */
.tabBarItem-3VvT2z {
  background-color: var(--itemtab-default);
  padding:10px;
  margin-right:-25px;
  margin-bottom:15px;
  border-radius:10px;
  max-height:16px;
  border-color:var(--itemtab-default)!important;
}

.aa8da23faa27393c-selected.tabBarItem-3VvT2z {
  background-color: var(--itemtab-selected);
}

/* status emojipicker fix */
.formGroup-146LDV>.children__7bffb .inputContainer-3envCr :where(div+div:last-child,input){
  filter: none;
}

/* Voice Chat PFPs */
._07f9193042954787-voiceUser ._07f9193042954787-content ._55bab3f0b2555838-userAvatar {
  border-radius:var(--rs-avatar-shape)!important;
}

.c36707910f687430-tooltip {
    backdrop-filter: blur(15px);
}

/* Call Buttons */
._1405b3b8e8eb5fd0-controlButton, .staticButton_f1ceac {
  border-radius:5px;
  mask:none;
}
._1405b3b8e8eb5fd0-controlButton foreignObject {
  /* background-color: currentColor; */
  border-radius:5px;
  mask:none;
}
._1405b3b8e8eb5fd0-controlButton svg:has([d="M21.526 8.149C21.231 7.966 20.862 7.951 20.553 8.105L18 9.382V7C18 5.897 17.103 5 16 5H4C2.897 5 2 5.897 2 7V17C2 18.104 2.897 19 4 19H16C17.103 19 18 18.104 18 17V14.618L20.553 15.894C20.694 15.965 20.847 16 21 16C21.183 16 21.365 15.949 21.526 15.851C21.82 15.668 22 15.347 22 15V9C22 8.653 21.82 8.332 21.526 8.149Z"]) > *, ._1405b3b8e8eb5fd0-controlButton svg:has([d="M6.7 11H5C5 12.19 5.34 13.3 5.9 14.28L7.13 13.05C6.86 12.43 6.7 11.74 6.7 11Z"])::before > *
 {
  background-color: #2b2d31!important;
}
.f1ceaca61b18918e-contextMenuNub {
  mask:none;
  border-radius:5px 0px 5px 0px;
  background-color: rgba(0, 0, 0, 0.322)!important;
}
.f1ceaca61b18918e-contextMenuNub:hover {
  background-color: rgba(0, 0, 0, 0.185)!important;
}
.f910d08f42c82225-status {
    border-radius: 5px;
}
.f369dba7416c67f0-mainCard,.e4503acec53c64dd-channelRow {
  background-color: var(--background-secondary);
  border: 2px rgba(255, 255, 255, 0.048) solid;
}

/* Vencord Stuff */
.vc-plugins-filter-controls ._0ed4fc708cdbac0d-inputWrapper input,
.vc-plugins-filter-controls .a16aea1526925c2c-select {
    background-color: var(--background-tertiary);
    border-color: var(--background-tertiary);
}
.vc-settings-quickActions-pill {
    border-radius:5px;
}

/* Scrollbar bug (in Settings, when your screen is smaller) fix */
.aa8da23faa27393c-header > *{
    overflow:hidden;
}

/* Titlebar half-colored fix */
._421edea01cb52e16-typeWindows {
    background-color: var(--background-tertiary);
}

/* Apps Menu */
.channelAppLauncher_e6e74f button {
    background-color: var(--messagebox-bg);	
    border-radius: 5px;
}
._9c62c6ed231468c4-contentWrapper {
    background-color: var(--background-primary)
}
.cb32c78a53f54371-appDetailsContainer {
    background-color: var(--background-secondary-alt);
    transition: ease-in-out 0.2s all;
}
.cb32c78a53f54371-appDetailsContainer:hover {
    background-color: var(--background-tertiary);
}
._19cf24ad0aef5ead-container {
    background-color: var(--background-secondary-alt);
}

/* PFP Fix */
._68edb95846a37624-mask circle {
    display:none;
}
._75742e4cc9019aeb-overlay::after {
    border-radius:5px;
}

.footer__214dc {
    background:none
}

/* Userpanel Button Fix */
._37e49614b9f110a9-micButtonParent {
    margin-right:0px;
}

/* quick emoji picker on rightclick modal bluhh */
.f563df886a7377be-button {
    border-radius:5px;
}


/* Visual Refresh Revert */
.visual-refresh ._5e434347c823b592-sidebarListRounded{
    border-top-left-radius: 5px!important;
}
/* fleep you, visual refresh */

/* settings/titlebar background fix blahblah */
.dbd2630aec71879b-stack, .c38106a3f0c3ca76-systemBar {
    background-color: var(--background-primary)!important;
}
