/* a lot of this code is from https://github.com/Z4ne4what/Themes/blob/main/Revert%20Visual%20Refresh.css */

/* Og panels */
.visual-refresh [class^="panels_"] {
    border:none;
    bottom: 0px;
    left: 73px;
    width: calc(100% - 72px);
    border-radius: 0px;
    background-color: var(--background-secondary);

    >[class^="container_"] {
        padding: 0px;
        margin: 0 8px;
        height: 57px;
    }
}
.visual-refresh [class^="sidebar_"] > [class*="guilds_"] {
    margin-bottom: 0px;
}

                              
/* Idk weird thingies be gone */
:where(.visual-refresh) ._9293f6b2fc12398a-dot,
.c38106a3f0c3ca76-winButtonsWithDivider:before{
    display: none;
}


/* Og channel icons */
.visual-refresh ._48112cbe77dc5022-folderPreviewGuildIcon[style]{
    --custom-guild-icon-size: calc(var(--guildbar-folder-size) / 2 - var(--space-8) / 2 - 0px);
    /* border-radius: 10px !important; */
}
.visual-refresh ._48112cbe77dc5022-folderPreview{
    gap: 0;
    border-radius: 0;
}

/* server list */
._1f388bcaa446c0c8-tutorialContainer {
    z-index:999999;
}
.visual-refresh ._5e434347c823b592-sidebar:after {
    content:none;
}
.ef3116c2da186559-unreadMentionsFixedFooter {
    margin-bottom: 105px;
}
.ef3116c2da186559-itemsContainer, .dbd2630aec71879b-stack.ef3116c2da186559-scroller.d125d22cdfd32cfe-none.d125d22cdfd32cfe-scrollerBase, ._1f388bcaa446c0c8-tutorialContainer /*, ._650eb104245d257b-tutorialContainer, ._650eb104245d257b-listItem:has(.ef3116c2da186559-discoveryIcon) */ {
    background-color: var(--background-tertiary) !important;
}
._5e434347c823b592-guilds div#guild-list-unread-dms:not([hidden]) {
    margin-top:35px;
}

._5e434347c823b592-guilds div#guild-list-unread-dms:is([hidden]) {
    margin-top:10px;
}
._650eb104245d257b-listItem ._48112cbe77dc5022-folderHeader { /* folder fix */
    margin:2px!important;
}

._650eb104245d257b-listItem:has(.ef3116c2da186559-discoveryIcon)  {
    bottom:76px!important;
    /* background: linear-gradient(transparent, var(--background-tertiary) 65%); */
    width:60px;
    left:6px;
}
._650eb104245d257b-tutorialContainer {
    bottom:15px!important;
}
:root {
    --guildbar-scale: 1.20;
}
/* -- Fix server icons size by daddyboard -- */
._6e9f8dce4cc18de3-wrapper._6e9f8dce4cc18de3-selected ._6e9f8dce4cc18de3-childWrapperHoverScale, ._6e9f8dce4cc18de3-wrapper:hover ._6e9f8dce4cc18de3-childWrapperHoverScale {
    scale:1;
}
/* Target non-server icons on the left bar */
.ef3116c2da186559-scroller > div:not(.dbd2630aec71879b-stack) {
    padding-top:8px;
    scale: var(--guildbar-scale);
}
/* Fix server icons size and add some padding */
._1f388bcaa446c0c8-tutorialContainer ~.dbd2630aec71879b-stack
._650eb104245d257b-listItem > :nth-child(2) {
    scale: var(--guildbar-scale);
    margin: 5px 0;
}
/* Make folders take all space they need */
ul.dbd2630aec71879b-stack{
    height: auto !important;
}
/* Increase width of the folder background */
._48112cbe77dc5022-folderGroupBackground {
    transform: scaleX(calc(var(--guildbar-scale) * 0.95));
}
._1f388bcaa446c0c8-tutorialContainer > ._650eb104245d257b-listItem:first-child {
    top: 33px !important;
}
.ef3116c2da186559-itemsContainer .dbd2630aec71879b-stack:nth-child(1) {
    height:calc(100% - 140px)!important;
    padding-bottom:20px!important;
}
.dbd2630aec71879b-stack {
    bottom:5px;
}

/* User Panel */
._5e434347c823b592-panels ._201d5e8a3c09670a-button:not(._201d5e8a3c09670a-colorRed) {
    margin-right:-8px!important;
    position:relative;
}
._5e434347c823b592-panels ._37e49614b9f110a9-buttons:nth-child(2):not(._201d5e8a3c09670a-colorRed) {
    border-radius:0px!important;
}
._5e434347c823b592-panels ._201d5e8a3c09670a-button:nth-child(2):not(._201d5e8a3c09670a-colorRed) {
    border-radius:0px!important;
}
._5e434347c823b592-panels ._201d5e8a3c09670a-button:nth-child(4):not(._201d5e8a3c09670a-colorRed) {
    border-radius: 0px 9px 9px 0px!important;
}
._5e434347c823b592-panels ._37e49614b9f110a9-buttons {
    position:relative;
    right:10px;
}
._5e434347c823b592-panels {
    background-color: var(--background-secondary-alt)!important;
}
._5e434347c823b592-panels ._37e49614b9f110a9-micButtonParent button {
    border-radius:9px 0px 0px 9px!important;
}
._5e434347c823b592-panels ._201d5e8a3c09670a-button:nth-child(2) {
    border-radius:0px!important;
}
._5e434347c823b592-panels ._67645e1530f1195d-button {
    background-color: #18141d;
}
.fcb62805acc5d0cc-note textarea {
    background-color: transparent!important;
}
.visual-refresh ._629e4c86564a4ee7-scroller {
    margin-bottom:0;
}

/* * No Transitions * */
/* friends list tabs */
.cc61794aab086a2e-peopleListItem, /* friends list tabs */ 
.aa8da23faa27393c-item, /* settings tabs */
._201d5e8a3c09670a-button /* settings profile buttons */ {
    transition:none!important;
}
._133bf5eea8e33a34-peopleColumn {
    background-color: #15131a;
}
._9293f6b2fc12398a-container, .e6b7699ce8339e1c-searchBar  {
    border-color:#15131a!important;
    box-shadow: -3px 1px 4px rgba(0, 0, 0, 0.388);
}
.e6b7699ce8339e1c-searchBar, .f37cb1984c371ee5-header {
    border:none!important;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.388)!important;
}
._133bf5eea8e33a34-addFriend {
    background-color: #237f44!important;
}
.aa8da23faa27393c-selected {
    background-color: #1f1d25!important;
}
.visual-refresh .aa8da23faa27393c-topPill .aa8da23faa27393c-item {
    padding:7px;
    height:0px;
}
._133bf5eea8e33a34-nowPlayingColumn ._7e549558f336cddb-itemCard {
    background-color: var(--background-secondary);

    & ._00943886e1cf89d1-section {
        background-color: var(--background-primary);
    }
}

/* friends/nitro/shop tabs */
._972a0d22c8afa7f0-channel {
    border-radius:4px;
}

/* title bar */
.dbd2630aec71879b-stack, .ef3116c2da186559-itemsContainer, .c38106a3f0c3ca76-title {
    background-color: var(--background-tertiary)!important;
}
.title__85643 .f34534e8a5d3ca64-icon {
    display:none;
}

/* DM list / Channel List coloring / Settings coloring */
._99e7cad8d4c55236-scroller, .e6b7699ce8339e1c-privateChannels, ._629e4c86564a4ee7-scroller, .f37cb1984c371ee5-header, ._23e6b439306f125a-sidebarRegionScroller  {
    background-color:var(--background-secondary)!important; 
}
.bf202d63ad53e289-interactive.bf202d63ad53e289-selected {
    background-color:#1a191f!important;
}
.e6b7699ce8339e1c-searchBar ._201d5e8a3c09670a-button ._201d5e8a3c09670a-contents {
    position:relative;
    right:35px;
    color:#72767d;
}
:where(.visual-refresh) .container_a45028 {
    border:0px;
}
.input_a45028, .iconLayout_a45028  {
    bottom:3px;
    position:relative;
}
._5ec2fb8b5de26b21-searchBar  {
    height:35px!important;
    border-radius:4px;
}
._972a0d22c8afa7f0-dm {
    border-radius:4px;
}

/* random coloring */
._36d072eab2b2e737-scroller, .f75fb00fb7356cbe-form, .c8ffbb79449f399c-members, ._23e6b439306f125a-contentRegionScroller,
._5e434347c823b592-sidebar, ._5e434347c823b592-sidebarList {
    background-color: var(--background-primary)!important;
}
.e6b7699ce8339e1c-sectionDivider {
    background-color: transparent!important;
}
.visual-refresh .e6b7699ce8339e1c-searchBar, ._5e434347c823b592-sidebarList {
    border:none!important;
}

/* servers / dms */
/* textbox */
._740174f3d6a2c8fe-scrollableContainer, .f75fb00fb7356cbe-channelTextArea  {
    border:none!important;
}

/* member list */
._5d473ecff348c314-member ._91a9d7f7e5248a56-childContainer:not(:hover), .c8ffbb79449f399c-member:not(:hover) {
    background-color:var(--background-primary);
}

/* search bars */
.visual-refresh .c322aadb96ff59c9-searchBar {
    background-color: var(--background-tertiary);
    border:none;
    height:24px;
    border-radius:5px;
}
.visual-refresh .c322aadb96ff59c9-searchBar .DraftEditor-root {
    bottom:2px;
}
.visual-refresh .c322aadb96ff59c9-searchBar .icon_fea832 {
    position:relative;
    top:-1px;
    left:-1px;
}
/* settings */
._201d5e8a3c09670a-contents {
    font-size:15px;
}
/* buttons */
:where(.visual-refresh) ._201d5e8a3c09670a-button {
    border-radius:3px;
    border:none;
}
._1fed1dd06c7aabf7-fieldButton {
    border-radius: 993px!important;
}
._201d5e8a3c09670a-button {
    border-radius:3px!important;
}
/* textboxes/inputs */
.inputDefault__0f084 {
    border-radius:4px;
    border:none!important;
    transition:none!important;  
}
.inputDefault__0f084, .a16aea1526925c2c-select {
    background-color: var(--messagebox-bg)!important;
}
.f369dba7416c67f0-list ._89a343a153c6f2ec-textArea {
    background-color:transparent!important;
}
:where(.visual-refresh) ._0ed4fc708cdbac0d-input {
    height:40px;
}
._6a919231d4bdfd4f-bioTextArea, ._6a919231d4bdfd4f-bioTextAreaContainer {
    border:none!important;
    border-radius:4px;
}
.c7e9071ee8df9113-searchBar {
    background-color: var(--background-tertiary)!important; 
    border:none!important;
    border-radius:4px!important;
}
/* server folders */
._48112cbe77dc5022-folderPreviewWrapper {
    border-radius:var(--folder-radius);
    scale:0.85!important;
}
._48112cbe77dc5022-folderGroupBackground {
    border-radius:var(--folder-radius);
}
._48112cbe77dc5022-folderPreviewGuildIcon:nth-child(1) {
    border-radius: var(--folder-radius) 0px 0px 0px;
}
._48112cbe77dc5022-folderPreviewGuildIcon:nth-child(2) {
    border-radius: 0px var(--folder-radius) 0px 0px;
}
._48112cbe77dc5022-folderPreviewGuildIcon:nth-child(3) {
    border-radius: 0px 0px 0px var(--folder-radius);
}
._48112cbe77dc5022-folderPreviewGuildIcon:nth-child(4) {
    border-radius: 0px 0px var(--folder-radius) 0px;
}
/* server dragging (semi-broken still, will fix l8r) */
.d144f8d4075c78d6-target.d144f8d4075c78d6-dragOver:nth-last-child(1):before {
    background-color: var(--status-positive);
    border-radius: 2px;
    box-shadow: 0 0 3px var(--opacity-black-28);
    content: "";
    height: 4px;
    position: absolute;
    top: -35px!important;
    z-index: 1;
    width:53px!important;
    left:10px;
}
/* tabs */
.f8303a11ec48bef3-tab, .dc2e0e7839a6713a-settingsTabBarItem,
/* vencord */.vc-settings-tab-bar-item  {
    background-color: transparent!important;
}
:where(.visual-refresh) .aa8da23faa27393c-top .aa8da23faa27393c-item.aa8da23faa27393c-selected:after, :where(.visual-refresh) .aa8da23faa27393c-top .aa8da23faa27393c-item:hover:after {
    background: none;
}
._23e6b439306f125a-sidebar .aa8da23faa27393c-item.aa8da23faa27393c-selected {
    background-color: #1f1d25 !important;
}
.aa8da23faa27393c-top .aa8da23faa27393c-item,
/* vencord*/.vc-settings-tab-bar-item {
    border-bottom:1px solid transparent!important;
}
.aa8da23faa27393c-top .aa8da23faa27393c-item.aa8da23faa27393c-selected,
/* vencord */.vc-settings-tab-bar-item {
    border-bottom:1px solid white!important;
}
/* settings cards */
._50a5493e9d9cc496-authedAppV2 ._50a5493e9d9cc496-headerV2, 
.c7f964e7e0fc8b47-connectionHeader {
    background-color: var(--background-secondary-alt);
}
._50a5493e9d9cc496-authedAppV2 ._50a5493e9d9cc496-appDetailsContainer,
.connectionOptionsWrapper_c7f964, .c7f964e7e0fc8b47-connection {
    background-color: var(--background-secondary);
}
.connectionOptionsWrapper_c7f964 {
    border-radius:var(--radius-sm);
}
/* settings profile modal */
._1fed1dd06c7aabf7-accountProfileCard {
    border-radius: 4px;
}
._1df30b1a583f2fa3-recentAvatarButton ._201d5e8a3c09670a-contents img {
    border-radius:4px!important;
}
/* vencord */
.vc-settings-quickActions-pill {
    background-color: var(--background-secondary-alt)!important;
}

/* title bar */
.visual-refresh .f75fb00fb7356cbe-chat[data-has-border=true], .visual-refresh ._133bf5eea8e33a34-container {
    border-top:none;
}

/* Restore Chatbar Button Sizes by riddim_glitch */
._740174f3d6a2c8fe-buttons {
  scale: 1.2;
  translate: -37px;
  padding-left: 40px;
}
._0923f156a0410684-attachButton  {
  scale: 1.2;
  translate: 5px;
}

/* titlebar text */
.c38106a3f0c3ca76-title {
  justify-content: center;
  .title__85643 {
    .guildIcon__85643  {
      display:none;
    };
    ._4bd5201c86a2042b-lineClamp1 {
      font-size: 0;
      &:before {
        font-size: medium;
        content: "Soon";
        color: white;
      }
    }
  }
}
.title__85643 svg {
    display:none;
}

/* context menu's (right-click) */
.c1e9c47c23f12ca3-menu {
    border:none;
}
.c1e9c47c23f12ca3-item {
    border-radius:3px!important;
}
.c1e9c47c23f12ca3-item.c1e9c47c23f12ca3-focused {
    background-color: #5865f2; /* --blurple */
}

.e6b7699ce8339e1c-searchBar ._201d5e8a3c09670a-button {
    background-color: #08070a!important;
}

/* buttons */
.a16aea1526925c2c-select {
    border:none!important;
    border-radius:4px!important;
    background-color: #1e1f22!important;
    min-height:40px!important;
}
/* dropdown buttons */
.a16aea1526925c2c-popout {
    border:none;
    border-radius:0px 0px 4px 4px;
    margin-top:-2px!important;
    background-color: #121016;
}

/* user profile popout */
._37bfcf3d457db7a9-tabBarItem {
    background-color: transparent!important;
}
.user-profile-popout, 
/* modal */.user-profile-modal,
/* settings modal */._1fed1dd06c7aabf7-accountProfileCard {
    background-color: var(--background-secondary-alt);
}
/* user modal */
.user-profile-modal {
    border-radius:4px;
}
._24502a4069848acb-root {
    background-color: transparent;
}
.ce832809562bf737-menuOverlay, ._39ec2e3dfb4fd2f2-card,
/* settings modal*/._1fed1dd06c7aabf7-background, ._1fed1dd06c7aabf7-background ._1fed1dd06c7aabf7-fieldList {
    background-color: var(--background-primary);
}
/* vencord stuff */
.vc-settings-quickActions-card {
    background-color: var(--background-secondary)!important;
}

.vc-settings-quickActions-pill {
    background-color: var(--background-secondary-alt); 
}
.vc-settings-tab-bar-item aa8da23faa27393c-item {
    background-color: transparent!important;
}

:where(.visual-refresh) .aa8da23faa27393c-top .aa8da23faa27393c-item.aa8da23faa27393c-brand {
    --selected-tab-item-color: white;
    transition:none;
}
:where(.visual-refresh) .aa8da23faa27393c-top .aa8da23faa27393c-item.aa8da23faa27393c-brand::after {
    content:none;
}
:where(.visual-refresh) .aa8da23faa27393c-top .aa8da23faa27393c-item.aa8da23faa27393c-selected {
    border-bottom:1px solid #949cf7;
}
.vc-settings-card {
    background-color: var(--background-secondary)!important; 
    border-radius:4px!important;
}


/* create server modal */
._49fc18ba07c5025f-root, .c04f357ea00ccf57-footer {
    border-radius:4px!important;
    border:none!important;
}
._49fc18ba07c5025f-footerSeparator {
    border-radius:0px 0px 4px 4px!important;
    border:none!important;
}
.c04f357ea00ccf57-header, ._49fc18ba07c5025f-header {
    border-radius:4px!important;
    border:none!important;
}
.c04f357ea00ccf57-closeButton {
    position:relative;
    top:-85px;
    left:195px;
}
.visual-refresh .c04f357ea00ccf57-header {
    height:85px;
    padding-bottom:0px;
}
.visual-refresh .c04f357ea00ccf57-templatesList {
    padding-top:0px;
    padding-bottom:0px;
}
.a244c3c87d2b1e13-container {
    border-radius:4px;
}

/* server icons */
._650eb104245d257b-listItem .e5445cbd3ad226f2-blobContainer .cc5dd25190031396-wrapper foreignObject ._6e9f8dce4cc18de3-acronym, ._1f388bcaa446c0c8-tutorialContainer ._918165dab2b1e10b-listItemWrapper .cc5dd25190031396-wrapper ._6e9f8dce4cc18de3-wrapper > *:not(:hover) {
    background-color: #17151d!important;
}

/* unloaded content placeholder */
.fc817765600a960a-wrapper {
    background-color:var(--background-primary);
}
