/*
-BetterInvites Imports-
by maenDisease
Discord UserID: 678469587444170762
*/
@import url("https://maendisease.github.io/BetterDiscordStuff/css/BIRBanners.css");
@import url("https://maendisease.github.io/BetterDiscordStuff/css/bettterInvites.css");
@import url("https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css");
.avatar_c19a55 {
    border-radius: var(--rs-avatar-shape);
} /* temp fix for radialstat (discord class change 7/4/2024) */


/* 
-Pin Home Icon-
By Doggybootsy
Discord UserID: 515780151791976453
*/

/* pin home */
.guilds_c48ade .tree_ef3116:focus {
    outline-color: transparent;
  }
  .guilds_c48ade .scroller_ef3116 {
    contain: unset;
    margin-top: 53px;
  }
  .guilds_c48ade .scroller_ef3116 .tutorialContainer__1f388 {
    position: fixed;
    transform: translatey( -115% );
    background-color:#171717;
    border-top-right-radius:10px;
  }
  .tutorialContainer__1f388.listItem__650eb.wrapper__8436d[data-list-item-id="guildsnav___home"] {
    margin-top:25px!important;
  }
  .guildSeparator__252b6 {
    display:none;
  }
  .unreadMentionsIndicatorTop_ef3116 {
    margin-top:50px;
  }

/* 
-Better Invites-
By Disease
Discord UserID: 678469587444170762
*/


/*betterInvites*/
/*background*/
.wrapper_d5f3cd {
  background: var(--background-secondary-alt);
  border-radius: 8px;
  padding: 16px;
  overflow: hidden;
  min-height: 173px;
  max-width: 328px;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  transition: box-shadow .2s ease-out, transform .2s ease-out, background .2s ease-out, -webkit-box-shadow .2s ease-out, -webkit-transform .2s ease-out
}

.wrapper_d5f3cd:focus,
.wrapper_d5f3cd:hover {
  background: var(--background-tertiary);
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
  box-shadow: var(--elevation-high);
  -webkit-box-shadow: var(--elevation-high)
}

.wrapper_d5f3cd .content_d5f3cd {
  position: relative;
  min-height: 113px;
  z-index: 1
}

.wrapper_d5f3cd .header_d5f3cd {
  position: relative;
  z-index: 2
}

.wrapper_d5f3cd .inviteSplash_d5f3cd {
  position: absolute;
  border-radius: 8px 8px 0 0;
  height: 87px;
  transition: transform .2s ease-out, -webkit-transform .2s ease-out
}

.wrapper_d5f3cd .inviteSplashImage_d5f3cd {
  transition: transform .2s ease-out, -webkit-transform .2s ease-out
}

.wrapper_d5f3cd:hover .inviteSplashImage_d5f3cd {
  transform: scale(1.01) translateZ(0) !important;
  -webkit-transform: scale(1.01) translateZ(0) !important
}

.BetterInvites-guildBanner {
  max-height: 87px;
  margin: -87px 0;
  top: 43px;
  right: 16px;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
  margin-bottom: 0 !important;
  width: 328px
}

.BetterInvites-guildBanner img {
  max-height: 87px !important;
  border-radius: 8px 8px 0 0 !important;
  -webkit-transition: transform .2s ease-out;
  transition: transform .2s ease-out
}

.wrapper_d5f3cd:hover .BetterInvites-guildBanner img {
  transform: scale(101%)
}

.guildIcon_d5f3cd {
  position: absolute;
  top: 17px;
  box-shadow: 0 0 0 4px var(--background-secondary-alt);
  background-color: var(--background-secondary-alt);
  width: 40px;
  height: 40px;
  border-radius: 12px;
  -webkit-transition: box-shadow .2s ease-out, background .2s ease-out;
  transition: box-shadow .2s ease-out, background .2s ease-out
}

.wrapper_d5f3cd:hover .guildIcon_d5f3cd {
  box-shadow: 0 0 0 4px var(--background-tertiary)
}

.wrapper_d5f3cd .guildInfo_d5f3cd {
  justify-content: initial;
  transform: translate(0, 35px);
  width: 0
}

.wrapper_d5f3cd .statusCounts_d5f3cd {
  font-weight: 400;
  font-size: 12px
}

.wrapper_d5f3cd .statusOffline_d5f3cd {
  background-color: var(--interactive-normal)
}

.wrapper_d5f3cd .BetterInvites-iconWrapper img {
  width: 18px;
  height: 18px !important
}

.wrapper_d5f3cd .BetterInvites-iconWrapper {
  position: relative;
  top: 50px;
  height: 18px
}

.BetterInvites-guildDescription {
  width: 400px
}

.BetterInvites-guildDescription .markup__75297 {
  margin: 76px 0 0 0 !important;
  color: var(--header-secondary);
  font-size: 14px;
  line-height: 18px;
  position: relative
}

.wrapper_d5f3cd .button_d5f3cd {
  position: absolute;
  right: 0;
  top: 17px;
  width: unset !important;
  height: 32px;
  font-weight: 600;
  color: var(--interactive-normal);
  background-color: var(--background-primary) !important;
  -webkit-box-shadow: var(--elevation-stroke);
  box-shadow: var(--elevation-stroke);
  border-radius: 4px;
  opacity: 0
}

.wrapper_d5f3cd:hover .button_d5f3cd {
  opacity: 1
}

.wrapper_d5f3cd .button_d5f3cd:hover {
  color: var(--interactive-hover);
  filter: brightness(105%)
}

.wrapper_d5f3cd .buttonSize_d5f3cd .contents-3ca1mk {
  position: relative;
  text-overflow: unset;
  overflow: visible
}

.guildIcon_d5f3cd::after {
  display: block;
  position: relative;
  content: "";
  z-index: -1;
  bottom: calc(87px - 26px);
  right: 16px;
  width: 328px;
  height: 87px;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 100% !important;
  -webkit-transition: background-size .2s ease;
  transition: background-size .2s ease-out
}

.wrapper_d5f3cd:hover .guildIcon_d5f3cd::after {
  background-size: 101% !important
}

/* full height banner */
/* 
.guildIcon_d5f3cd::after,.wrapper_d5f3cd .inviteSplash_d5f3cd{height:100%;-webkit-mask-image:linear-gradient(90deg,rgba(0,0,0,0.2) 0,rgba(0,0,0,1) 60%)}
.guildIcon_d5f3cd::after,.wrapper_d5f3cd:hover .guildIcon_d5f3cd::after{height:173px;background-size:cover!important;-webkit-transition:transform .2s ease-out;transition:transform .2s ease-out}
.wrapper_d5f3cd:hover .guildIcon_d5f3cd::after{transform:scale(1.01) translateZ(0)!important;-webkit-transform:scale(1.01) translateZ(0)!important}
.guildIcon_d5f3cd,.wrapper_d5f3cd:hover .guildIcon_d5f3cd{box-shadow:none}
*/

/* 
-Connection Issues Let Me Be-
By Disease
Discord UserID: 678469587444170762
*/

.container_a2f514 {
    background: transparent;
    pointer-events: none;
}
.container_a2f514 .anchor-1MIwyf { pointer-events: auto; }
.container_a2f514 .content_a2f514 .text_a2f514 {
    display:none;
}
.container_a2f514 .ready_a2f514 {
    position: absolute;
    bottom: 44px;
    right: 244px;
    z-index: 1;
}

.container_a2f514 img, .container_a2f514 video {
    width: 32px;
    height: 32px;
}
.container_a2f514 .problems_a2f514 {
    padding: 8px 16px;
    bottom: 18px;
    left: unset;
    right: 18px;
    width:fit-content;
    height:fit-content;
    background-color: var(--background-floating);
    border-radius: 8px;
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-medium);
    box-shadow: var(--elevation-stroke), var(--elevation-medium);
}

/* 
-Message Bubbles-
By Disease
Discord UserID: 678469587444170762

Credits
TheCommieAxolotl - Base code
Debuggerz1 - Math
 */

/* 
-Message Bubbles-
By Disease
Discord UserID: 678469587444170762

Credits
TheCommieAxolotl - Base code
Debuggerz1 - Math
 */

.groupStart__5126c.cozyMessage__5126c>.contents_c19a55,
.cozyMessage__5126c:not(.groupStart__5126c)>.contents_c19a55>.markup__75297:not(:empty, .searchResultsWrap_a9e706 *) {
    background: linear-gradient(var(--chat-bubble-background-color, var(--background-primary)), var(--chat-bubble-background-color, var(--background-primary)));
    background-size: calc(var(--chat-bubble) * 1px);
    max-width: calc(100% - ((100% - var(--chat-bubble-max-width)) * var(--chat-bubble)));
    width: fit-content;
    margin: 0;
    padding: calc(7px * var(--chat-bubble)) calc(12px * var(--chat-bubble));
    border-radius: calc(var(--chat-bubble-border-radius) * var(--chat-bubble));
    border: calc(1px * var(--chat-bubble)) solid var(--chat-bubble-border-color, var(--background-primary-border-color));
    box-shadow: var(--chat-bubble-box-shadow-h-offset) calc(var(--chat-bubble-box-shadow-v-offset) * var(--chat-bubble)) calc(var(--chat-bubble-box-shadow-blur) * var(--chat-bubble)) hsla(var(--chat-bubble-box-shadow-color-h), var(--chat-bubble-box-shadow-color-s), var(--chat-bubble-box-shadow-color-l), calc(var(--chat-bubble-box-shadow-color-a) * var(--chat-bubble)));
}

.cozyMessage__5126c .automodMessage__5126c:before,
.cozyMessage__5126c.ephemeral__5126c:before,
.cozyMessage__5126c.mentioned__5126c:before,
.cozyMessage__5126c.replying__5126c:before {
    width: calc(2px - (var(--chat-bubble) * 2px));
}

.groupStart__5126c.cozyMessage__5126c.mentioned__5126c .contents_c19a55,
.cozyMessage__5126c.mentioned__5126c:not(.groupStart__5126c) .contents_c19a55>.markup__75297:not(:empty, .searchResultsWrap_a9e706 *) {
    background: linear-gradient(var(--background-mentioned), var(--background-mentioned));
    background-size: calc(var(--chat-bubble) * 1px);
    border: calc(1px * var(--chat-bubble)) solid var(--info-warning-foreground);
}

.cozyMessage__5126c.mentioned__5126c {
    background: linear-gradient(var(--background-mentioned), var(--background-mentioned));
    background-size: calc((1 - var(--chat-bubble)) * 1px);
}

.groupStart__5126c.cozyMessage__5126c.replying__5126c .contents_c19a55,
.cozyMessage__5126c.replying__5126c:not(.groupStart__5126c) .contents_c19a55>.markup__75297:not(:empty, .searchResultsWrap_a9e706 *),
.groupStart__5126c.cozyMessage__5126c.ephemeral__5126c .contents_c19a55,
.cozyMessage__5126c.ephemeral__5126c:not(.groupStart__5126c) .contents_c19a55>.markup__75297:not(:empty, .searchResultsWrap_a9e706 *) {
    background: linear-gradient(var(--brand-experiment-05a), var(--brand-experiment-05a));
    background-size: calc(var(--chat-bubble) * 1px);
    border: calc(1px * var(--chat-bubble)) solid var(--brand-experiment);
}

.cozyMessage__5126c.replying__5126c,
.cozyMessage__5126c.ephemeral__5126c {
    background: linear-gradient(var(--brand-experiment-05a), var(--brand-experiment-05a));
    background-size: calc((1 - var(--chat-bubble)) * 1px);
}

.groupStart__5126c.cozyMessage__5126c.automodMessage__5126c .contents_c19a55,
.cozyMessage__5126c.automodMessage__5126c:not(.groupStart__5126c) .contents_c19a55>.markup__75297:not(:empty, .searchResultsWrap_a9e706 *) {
    background: linear-gradient(var(--background-message-automod), var(--background-message-automod));
    background-size: calc(var(--chat-bubble) * 1px);
    border: calc(1px * var(--chat-bubble)) solid var(--text-danger);
}

.cozyMessage__5126c.automodMessage__5126c {
    background: linear-gradient(var(--background-message-automod), var(--background-message-automod));
    background-size: calc((1 - var(--chat-bubble)) * 1px);
}

.groupStart__5126c.cozyMessage__5126c.automodMessage__5126c:hover .contents_c19a55,
.cozyMessage__5126c.automodMessage__5126c:not(.groupStart__5126c):hover .contents_c19a55>.markup__75297:not(:empty, .searchResultsWrap_a9e706 *) {
    background: linear-gradient(var(--background-message-automod-hover), var(--background-message-automod-hover));
    background-size: calc(var(--chat-bubble) * 1px);
    border: calc(1px * var(--chat-bubble)) solid var(--text-danger);
}

.cozyMessage__5126c.automodMessage__5126c:hover {
    background: linear-gradient(var(--background-message-automod-hover), var(--background-message-automod-hover));
    background-size: calc((1 - var(--chat-bubble)) * 1px);
}

.groupStart__5126c.cozyMessage__5126c>.contents_c19a55 .markup__75297 code,
.cozyMessage__5126c:not(.groupStart__5126c)>.contents_c19a55>.markup__75297:not(:empty, .searchResultsWrap_a9e706 *) code {
    background: linear-gradient(var(--chat-bubble-code-background-color), var(--chat-bubble-code-background-color));
    background-color: var(--background-secondary);
    background-size: calc(var(--chat-bubble) * 1px);
}

.markup__75297 blockquote, .markup__75297 pre {
    max-width: 100%;
}


/* 
-Bearable Inbox-
By Disease
Discord UserID: 678469587444170762
*/


.recentMentionsPopout__95796 .container__95796,
.recentMentionsPopout__95796 .channel__427f0 {
    background-color: var(--background-primary);
    border-radius: 8px;
    overflow: hidden;
}

.recentMentionsPopout__95796 .container__95796 {
    padding-right: unset;
}

.recentMentionsPopout__95796 .messagesPopout__45690 {
    padding: 16px;
}

.recentMentionsPopout__95796 .channel__427f0 {
    margin: 16px 8px 16px 0;
    padding-bottom: 0;
}

.recentMentionsPopout__95796 .channelHeader__35a7e {
    background-color: var(--background-primary);
    height: fit-content;
    padding: 6px 16px;
    border-bottom: thin solid var(--background-modifier-accent);
}

.recentMentionsPopout__95796 .messageContainer__95796,
.recentMentionsPopout__95796 .messages__1ccd1 {
    margin-left: unset;
    background: none;
    border-radius: unset;
}

/* header icon */
.recentMentionsPopout__95796 .iconSizeMedium_f34534 {
    width: 24px;
    height: 24px;
}

.recentMentionsPopout__95796 .iconActiveMedium_f34534 {
    border-radius: 7px;
}

.recentMentionsPopout__95796 .dmIcon__35a7e,
.recentMentionsPopout__95796 .guildIcon__35a7e {
    margin-right: 6px;
}

/* channel name section */
.recentMentionsPopout__95796 .channelName__35a7e svg path {
    fill: var(--channel-icon);
}

.recentMentionsPopout__95796 .channelName__35a7e svg {
    margin: 0 4px;
}

.recentMentionsPopout__95796 .channelNameSection__35a7e {
    -webkit-box-orient: unset;
    -ms-flex-direction: unset;
    flex-direction: unset;
}

.recentMentionsPopout__95796 .heading-md-medium-2DVCeJ,
.recentMentionsPopout__95796 .heading-md-normal-3Ytn6I {
    font-size: 16px;
    line-height: 20px;
}

.recentMentionsPopout__95796 .subtext__35a7e,
.recentMentionsPopout__95796 .subtextContainer__35a7e {
    margin-left: 4px;
    line-height: 20px;
    width: fit-content;
}

/* buttons */
.recentMentionsPopout__95796 .container__95796 .closeButton__95796 {
    opacity: 0;
}

.recentMentionsPopout__95796 .container__95796:hover .closeButton__95796 {
    opacity: 1;
}

.recentMentionsPopout__95796 .tertiary_ad6d80:not(.disabled__4d064),
.recentMentionsPopout__95796 .tertiary_ad6d80:hover:not(.disabled__4d064) {
    background: none;
}

.recentMentionsPopout__95796 .collapseButton__427f0:hover {
    color: var(--interactive-active);
}

.recentMentionsPopout__95796 .collapseButton__427f0 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: unset;
    width: 32px;
    height: 32px;
    padding: unset;
    margin-left: 12px;
}

.recentMentionsPopout__95796 .messages__1ccd1>button:last-of-type {
    margin-left:auto;
}



/* 
-Bigger Titlebar-
By ElitePrime#7266
Discord UserID: 542750206299734039
*/
.winButton__421ed {
  height: 25px;
  width: 34px;
  margin-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
}
.withFrame__421ed {
  height: fit-content;
  margin-top: 0px;
}
.wordmarkWindows__421ed {
  margin-top: 10px;
  margin-left: 12px;
  padding: 0px;
}

/* BettterInvites Temporary Fix */
@import url("https://maendisease.github.io/BetterDiscordStuff/css/BIRBanners.css");

/*betterInvites*/
/*background*/
.wrapper_d5f3cd {
  background: var(--background-secondary-alt);
  border-radius: 8px;
  padding: 16px;
  overflow: hidden;
  min-height: 173px;
  max-width: 328px;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  transition: box-shadow .2s ease-out, transform .2s ease-out, background .2s ease-out, -webkit-box-shadow .2s ease-out, -webkit-transform .2s ease-out
}

.wrapper_d5f3cd:focus,
.wrapper_d5f3cd:hover {
  background: var(--background-tertiary);
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
  box-shadow: var(--elevation-high);
  -webkit-box-shadow: var(--elevation-high)
}

.wrapper_d5f3cd .content_d5f3cd {
  position: relative;
  min-height: 113px;
  z-index: 1
}

.wrapper_d5f3cd .header_d5f3cd {
  position: relative;
  z-index: 2
}

.wrapper_d5f3cd .inviteSplash_d5f3cd {
  position: absolute;
  border-radius: 8px 8px 0 0;
  height: 87px;
  width: 100%;
  transition: transform .2s ease-out, -webkit-transform .2s ease-out
}

.wrapper_d5f3cd .inviteSplashImage_d5f3cd {
  transition: transform .2s ease-out, -webkit-transform .2s ease-out
}

.wrapper_d5f3cd:hover .inviteSplashImage_d5f3cd {
  transform: scale(1.01) translateZ(0) !important;
  -webkit-transform: scale(1.01) translateZ(0) !important
}

.BetterInvites-guildBanner {
  max-height: 87px;
  margin: -87px 0;
  top: 43px;
  right: 16px;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
  margin-bottom: 0 !important;
  width: 328px
}

.BetterInvites-guildBanner img {
  max-height: 87px !important;
  border-radius: 8px 8px 0 0 !important;
  -webkit-transition: transform .2s ease-out;
  transition: transform .2s ease-out
}

.wrapper_d5f3cd:hover .BetterInvites-guildBanner img {
  transform: scale(101%)
}

.guildIcon_d5f3cd {
  position: absolute;
  top: 17px;
  box-shadow: 0 0 0 4px var(--background-secondary-alt);
  background-color: var(--background-secondary-alt);
  width: 40px;
  height: 40px;
  border-radius: 12px;
  -webkit-transition: box-shadow .2s ease-out, background .2s ease-out;
  transition: box-shadow .2s ease-out, background .2s ease-out
}

.wrapper_d5f3cd:hover .guildIcon_d5f3cd {
  box-shadow: 0 0 0 4px var(--background-tertiary)
}

.wrapper_d5f3cd .guildInfo_d5f3cd {
  justify-content: initial;
  transform: translate(0, 35px);
  width: 0
}

.wrapper_d5f3cd .statusCounts_d5f3cd {
  font-weight: 400;
  font-size: 12px
}

.wrapper_d5f3cd .statusOffline_d5f3cd {
  background-color: var(--interactive-normal)
}

.wrapper_d5f3cd .BetterInvites-iconWrapper img {
  width: 18px;
  height: 18px !important
}

.wrapper_d5f3cd .BetterInvites-iconWrapper {
  position: relative;
  top: 50px;
  height: 18px
}

.BetterInvites-guildDescription {
  width: 400px
}

.BetterInvites-guildDescription .markup__75297 {
  margin: 76px 0 0 0 !important;
  color: var(--header-secondary);
  font-size: 14px;
  line-height: 18px;
  position: relative
}

.wrapper_d5f3cd .button_d5f3cd {
  position: absolute;
  right: 0;
  top: 17px;
  width: unset !important;
  height: 32px;
  font-weight: 600;
  color: var(--interactive-normal);
  background-color: var(--background-primary) !important;
  -webkit-box-shadow: var(--elevation-stroke);
  box-shadow: var(--elevation-stroke);
  border-radius: 4px;
  opacity: 0
}

.wrapper_d5f3cd:hover .button_d5f3cd {
  opacity: 1
}

.wrapper_d5f3cd .button_d5f3cd:hover {
  color: var(--interactive-hover);
  filter: brightness(105%)
}

.wrapper_d5f3cd .buttonSize_d5f3cd .contents-3ca1mk {
  position: relative;
  text-overflow: unset;
  overflow: visible
}

.guildIcon_d5f3cd::after {
  display: block;
  position: relative;
  content: "";
  z-index: -1;
  bottom: calc(87px - 26px);
  right: 16px;
  width: 328px;
  height: 87px;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 100% !important;
  -webkit-transition: background-size .2s ease;
  transition: background-size .2s ease-out
}

.wrapper_d5f3cd:hover .guildIcon_d5f3cd::after {
  background-size: 101% !important
}

/* full height banner */
/* 
.guildIcon_d5f3cd::after,.wrapper_d5f3cd .inviteSplash_d5f3cd{height:100%;-webkit-mask-image:linear-gradient(90deg,rgba(0,0,0,0.2) 0,rgba(0,0,0,1) 60%)}
.guildIcon_d5f3cd::after,.wrapper_d5f3cd:hover .guildIcon_d5f3cd::after{height:173px;background-size:cover!important;-webkit-transition:transform .2s ease-out;transition:transform .2s ease-out}
.wrapper_d5f3cd:hover .guildIcon_d5f3cd::after{transform:scale(1.01) translateZ(0)!important;-webkit-transform:scale(1.01) translateZ(0)!important}
.guildIcon_d5f3cd,.wrapper_d5f3cd:hover .guildIcon_d5f3cd{box-shadow:none}
*/
