/*
-BetterInvites Imports-
by maenDisease
Discord UserID: 678469587444170762
*/
@import url("https://maendisease.github.io/BetterDiscordStuff/css/BIRBanners.css");
@import url("https://maendisease.github.io/BetterDiscordStuff/css/bettterInvites.css");
@import url("https://raw.githubusercontent.com/DiscordStyles/RadialStatus/deploy/RadialStatus.theme.css");
.c19a557985eb7793-avatar {
    border-radius: var(--rs-avatar-shape);
} /* temp fix for radialstat (discord class change 7/4/2024) */
/* temp fix for radialstat (discord status color change 5/3/2025) */
/* idk the color for streaming people ill fix that later lol, hmu if yk it */
#app-mount ._44b0c28be7879b7b-wrapper rect[fill="#43a25a"], #app-mount ._44b0c28be7879b7b-wrapper rect[fill="#40a258"] {
  stroke: var(--rs-online-color);
}
#app-mount ._44b0c28be7879b7b-wrapper rect[fill="#ca9654"], #app-mount ._44b0c28be7879b7b-wrapper rect[fill="#cc954c"] {
  stroke: var(--rs-idle-color);
}
#app-mount ._44b0c28be7879b7b-wrapper rect[fill="#d83a42"], #app-mount ._44b0c28be7879b7b-wrapper rect[fill="#d83a41"] {
  stroke: var(--rs-dnd-color);
}
/* radialstat temp fix 10/3/2025 dm topbar pfp size */
#app-mount ._9293f6b2fc12398a-upperContainer ._44b0c28be7879b7b-wrapper foreignObject {
    height: 25px;
    width: 25px;
}

/* 
-Pin Home Icon-
By Doggybootsy
Discord UserID: 515780151791976453
*/

/* pin home */
._5e434347c823b592-guilds .ef3116c2da186559-tree:focus {
    outline-color: transparent;
  }
  ._5e434347c823b592-guilds .ef3116c2da186559-scroller {
    contain: unset;
    margin-top: 53px;
  }
  ._5e434347c823b592-guilds .ef3116c2da186559-scroller ._1f388bcaa446c0c8-tutorialContainer {
    position: fixed;
    transform: translatey( -115% );
    background-color:#171717;
    border-top-right-radius:10px;
  }
  ._1f388bcaa446c0c8-tutorialContainer._650eb104245d257b-listItem.wrapper__8436d[data-list-item-id="guildsnav___home"] {
    margin-top:25px!important;
  }
  ._252b6afd49fda06f-guildSeparator {
    display:none;
  }
  .ef3116c2da186559-unreadMentionsIndicatorTop {
    margin-top:50px;
  }

/* 
-Better Invites-
By Disease
Discord UserID: 678469587444170762
*/


/*betterInvites*/
/*background*/
.d5f3cd116f175f35-wrapper {
  background: var(--background-secondary-alt);
  border-radius: 8px;
  padding: 16px;
  overflow: hidden;
  min-height: 173px;
  max-width: 328px;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  transition: box-shadow .2s ease-out, transform .2s ease-out, background .2s ease-out, -webkit-box-shadow .2s ease-out, -webkit-transform .2s ease-out
}

.d5f3cd116f175f35-wrapper:focus,
.d5f3cd116f175f35-wrapper:hover {
  background: var(--background-tertiary);
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
  box-shadow: var(--elevation-high);
  -webkit-box-shadow: var(--elevation-high)
}

.d5f3cd116f175f35-wrapper .d5f3cd116f175f35-content {
  position: relative;
  min-height: 113px;
  z-index: 1
}

.d5f3cd116f175f35-wrapper .d5f3cd116f175f35-header {
  position: relative;
  z-index: 2
}

.d5f3cd116f175f35-wrapper .d5f3cd116f175f35-inviteSplash {
  position: absolute;
  border-radius: 8px 8px 0 0;
  height: 87px;
  transition: transform .2s ease-out, -webkit-transform .2s ease-out
}

.d5f3cd116f175f35-wrapper .d5f3cd116f175f35-inviteSplashImage {
  transition: transform .2s ease-out, -webkit-transform .2s ease-out
}

.d5f3cd116f175f35-wrapper:hover .d5f3cd116f175f35-inviteSplashImage {
  transform: scale(1.01) translateZ(0) !important;
  -webkit-transform: scale(1.01) translateZ(0) !important
}

.BetterInvites-guildBanner {
  max-height: 87px;
  margin: -87px 0;
  top: 43px;
  right: 16px;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
  margin-bottom: 0 !important;
  width: 328px
}

.BetterInvites-guildBanner img {
  max-height: 87px !important;
  border-radius: 8px 8px 0 0 !important;
  -webkit-transition: transform .2s ease-out;
  transition: transform .2s ease-out
}

.d5f3cd116f175f35-wrapper:hover .BetterInvites-guildBanner img {
  transform: scale(101%)
}

.d5f3cd116f175f35-guildIcon {
  position: absolute;
  top: 17px;
  box-shadow: 0 0 0 4px var(--background-secondary-alt);
  background-color: var(--background-secondary-alt);
  width: 40px;
  height: 40px;
  border-radius: 12px;
  -webkit-transition: box-shadow .2s ease-out, background .2s ease-out;
  transition: box-shadow .2s ease-out, background .2s ease-out
}

.d5f3cd116f175f35-wrapper:hover .d5f3cd116f175f35-guildIcon {
  box-shadow: 0 0 0 4px var(--background-tertiary)
}

.d5f3cd116f175f35-wrapper .d5f3cd116f175f35-guildInfo {
  justify-content: initial;
  transform: translate(0, 35px);
  width: 0
}

.d5f3cd116f175f35-wrapper .d5f3cd116f175f35-statusCounts {
  font-weight: 400;
  font-size: 12px
}

.d5f3cd116f175f35-wrapper .d5f3cd116f175f35-statusOffline {
  background-color: var(--interactive-normal)
}

.d5f3cd116f175f35-wrapper .BetterInvites-iconWrapper img {
  width: 18px;
  height: 18px !important
}

.d5f3cd116f175f35-wrapper .BetterInvites-iconWrapper {
  position: relative;
  top: 50px;
  height: 18px
}

.BetterInvites-guildDescription {
  width: 400px
}

.BetterInvites-guildDescription ._752971923a1e6683-markup {
  margin: 76px 0 0 0 !important;
  color: var(--header-secondary);
  font-size: 14px;
  line-height: 18px;
  position: relative
}

.d5f3cd116f175f35-wrapper .d5f3cd116f175f35-button {
  position: absolute;
  right: 0;
  top: 17px;
  width: unset !important;
  height: 32px;
  font-weight: 600;
  color: var(--interactive-normal);
  background-color: var(--background-primary) !important;
  -webkit-box-shadow: var(--elevation-stroke);
  box-shadow: var(--elevation-stroke);
  border-radius: 4px;
  opacity: 0
}

.d5f3cd116f175f35-wrapper:hover .d5f3cd116f175f35-button {
  opacity: 1
}

.d5f3cd116f175f35-wrapper .d5f3cd116f175f35-button:hover {
  color: var(--interactive-hover);
  filter: brightness(105%)
}

.d5f3cd116f175f35-wrapper .buttonSize_d5f3cd .contents-3ca1mk {
  position: relative;
  text-overflow: unset;
  overflow: visible
}

.d5f3cd116f175f35-guildIcon::after {
  display: block;
  position: relative;
  content: "";
  z-index: -1;
  bottom: calc(87px - 26px);
  right: 16px;
  width: 328px;
  height: 87px;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 100% !important;
  -webkit-transition: background-size .2s ease;
  transition: background-size .2s ease-out
}

.d5f3cd116f175f35-wrapper:hover .d5f3cd116f175f35-guildIcon::after {
  background-size: 101% !important
}

/* full height banner */
/* 
.d5f3cd116f175f35-guildIcon::after,.d5f3cd116f175f35-wrapper .d5f3cd116f175f35-inviteSplash{height:100%;-webkit-mask-image:linear-gradient(90deg,rgba(0,0,0,0.2) 0,rgba(0,0,0,1) 60%)}
.d5f3cd116f175f35-guildIcon::after,.d5f3cd116f175f35-wrapper:hover .d5f3cd116f175f35-guildIcon::after{height:173px;background-size:cover!important;-webkit-transition:transform .2s ease-out;transition:transform .2s ease-out}
.d5f3cd116f175f35-wrapper:hover .d5f3cd116f175f35-guildIcon::after{transform:scale(1.01) translateZ(0)!important;-webkit-transform:scale(1.01) translateZ(0)!important}
.d5f3cd116f175f35-guildIcon,.d5f3cd116f175f35-wrapper:hover .d5f3cd116f175f35-guildIcon{box-shadow:none}
*/

/* 
-Connection Issues Let Me Be-
By Disease
Discord UserID: 678469587444170762
*/

.a2f5142ba8328dfd-container {
    background: transparent;
    pointer-events: none;
}
.a2f5142ba8328dfd-container .anchor-1MIwyf { pointer-events: auto; }
.a2f5142ba8328dfd-container .a2f5142ba8328dfd-content .a2f5142ba8328dfd-text {
    display:none;
}
.a2f5142ba8328dfd-container .a2f5142ba8328dfd-ready {
    position: absolute;
    bottom: 44px;
    right: 244px;
    z-index: 1;
}

.a2f5142ba8328dfd-container img, .a2f5142ba8328dfd-container video {
    width: 32px;
    height: 32px;
}
.a2f5142ba8328dfd-container .a2f5142ba8328dfd-problems {
    padding: 8px 16px;
    bottom: 18px;
    left: unset;
    right: 18px;
    width:fit-content;
    height:fit-content;
    background-color: var(--background-floating);
    border-radius: 8px;
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-medium);
    box-shadow: var(--elevation-stroke), var(--elevation-medium);
}

/* 
-Message Bubbles-
By Disease
Discord UserID: 678469587444170762

Credits
TheCommieAxolotl - Base code
Debuggerz1 - Math
 */

/* 
-Message Bubbles-
By Disease
Discord UserID: 678469587444170762

Credits
TheCommieAxolotl - Base code
Debuggerz1 - Math
 */

._5126c0cd07f243a0-groupStart._5126c0cd07f243a0-cozyMessage>.c19a557985eb7793-contents,
._5126c0cd07f243a0-cozyMessage:not(._5126c0cd07f243a0-groupStart)>.c19a557985eb7793-contents>._752971923a1e6683-markup:not(:empty, .a98f3b020416ad54-searchResultsWrap *) {
    background: linear-gradient(var(--chat-bubble-background-color, var(--background-primary)), var(--chat-bubble-background-color, var(--background-primary)));
    background-size: calc(var(--chat-bubble) * 1px);
    max-width: calc(100% - ((100% - var(--chat-bubble-max-width)) * var(--chat-bubble)));
    width: fit-content;
    margin: 0;
    padding: calc(7px * var(--chat-bubble)) calc(12px * var(--chat-bubble));
    border-radius: calc(var(--chat-bubble-border-radius) * var(--chat-bubble));
    border: calc(1px * var(--chat-bubble)) solid var(--chat-bubble-border-color, var(--background-primary-border-color));
    box-shadow: var(--chat-bubble-box-shadow-h-offset) calc(var(--chat-bubble-box-shadow-v-offset) * var(--chat-bubble)) calc(var(--chat-bubble-box-shadow-blur) * var(--chat-bubble)) hsla(var(--chat-bubble-box-shadow-color-h), var(--chat-bubble-box-shadow-color-s), var(--chat-bubble-box-shadow-color-l), calc(var(--chat-bubble-box-shadow-color-a) * var(--chat-bubble)));
}

._5126c0cd07f243a0-cozyMessage ._5126c0cd07f243a0-automodMessage:before,
._5126c0cd07f243a0-cozyMessage._5126c0cd07f243a0-ephemeral:before,
._5126c0cd07f243a0-cozyMessage._5126c0cd07f243a0-mentioned:before,
._5126c0cd07f243a0-cozyMessage._5126c0cd07f243a0-replying:before {
    width: calc(2px - (var(--chat-bubble) * 2px));
}

._5126c0cd07f243a0-groupStart._5126c0cd07f243a0-cozyMessage._5126c0cd07f243a0-mentioned .c19a557985eb7793-contents,
._5126c0cd07f243a0-cozyMessage._5126c0cd07f243a0-mentioned:not(._5126c0cd07f243a0-groupStart) .c19a557985eb7793-contents>._752971923a1e6683-markup:not(:empty, .a98f3b020416ad54-searchResultsWrap *) {
    background: linear-gradient(var(--background-mentioned), var(--background-mentioned));
    background-size: calc(var(--chat-bubble) * 1px);
    border: calc(1px * var(--chat-bubble)) solid var(--info-warning-foreground);
}

._5126c0cd07f243a0-cozyMessage._5126c0cd07f243a0-mentioned {
    background: linear-gradient(var(--background-mentioned), var(--background-mentioned));
    background-size: calc((1 - var(--chat-bubble)) * 1px);
}

._5126c0cd07f243a0-groupStart._5126c0cd07f243a0-cozyMessage._5126c0cd07f243a0-replying .c19a557985eb7793-contents,
._5126c0cd07f243a0-cozyMessage._5126c0cd07f243a0-replying:not(._5126c0cd07f243a0-groupStart) .c19a557985eb7793-contents>._752971923a1e6683-markup:not(:empty, .a98f3b020416ad54-searchResultsWrap *),
._5126c0cd07f243a0-groupStart._5126c0cd07f243a0-cozyMessage._5126c0cd07f243a0-ephemeral .c19a557985eb7793-contents,
._5126c0cd07f243a0-cozyMessage._5126c0cd07f243a0-ephemeral:not(._5126c0cd07f243a0-groupStart) .c19a557985eb7793-contents>._752971923a1e6683-markup:not(:empty, .a98f3b020416ad54-searchResultsWrap *) {
    background: linear-gradient(var(--brand-experiment-05a), var(--brand-experiment-05a));
    background-size: calc(var(--chat-bubble) * 1px);
    border: calc(1px * var(--chat-bubble)) solid var(--brand-experiment);
}

._5126c0cd07f243a0-cozyMessage._5126c0cd07f243a0-replying,
._5126c0cd07f243a0-cozyMessage._5126c0cd07f243a0-ephemeral {
    background: linear-gradient(var(--brand-experiment-05a), var(--brand-experiment-05a));
    background-size: calc((1 - var(--chat-bubble)) * 1px);
}

._5126c0cd07f243a0-groupStart._5126c0cd07f243a0-cozyMessage._5126c0cd07f243a0-automodMessage .c19a557985eb7793-contents,
._5126c0cd07f243a0-cozyMessage._5126c0cd07f243a0-automodMessage:not(._5126c0cd07f243a0-groupStart) .c19a557985eb7793-contents>._752971923a1e6683-markup:not(:empty, .a98f3b020416ad54-searchResultsWrap *) {
    background: linear-gradient(var(--background-message-automod), var(--background-message-automod));
    background-size: calc(var(--chat-bubble) * 1px);
    border: calc(1px * var(--chat-bubble)) solid var(--text-danger);
}

._5126c0cd07f243a0-cozyMessage._5126c0cd07f243a0-automodMessage {
    background: linear-gradient(var(--background-message-automod), var(--background-message-automod));
    background-size: calc((1 - var(--chat-bubble)) * 1px);
}

._5126c0cd07f243a0-groupStart._5126c0cd07f243a0-cozyMessage._5126c0cd07f243a0-automodMessage:hover .c19a557985eb7793-contents,
._5126c0cd07f243a0-cozyMessage._5126c0cd07f243a0-automodMessage:not(._5126c0cd07f243a0-groupStart):hover .c19a557985eb7793-contents>._752971923a1e6683-markup:not(:empty, .a98f3b020416ad54-searchResultsWrap *) {
    background: linear-gradient(var(--background-message-automod-hover), var(--background-message-automod-hover));
    background-size: calc(var(--chat-bubble) * 1px);
    border: calc(1px * var(--chat-bubble)) solid var(--text-danger);
}

._5126c0cd07f243a0-cozyMessage._5126c0cd07f243a0-automodMessage:hover {
    background: linear-gradient(var(--background-message-automod-hover), var(--background-message-automod-hover));
    background-size: calc((1 - var(--chat-bubble)) * 1px);
}

._5126c0cd07f243a0-groupStart._5126c0cd07f243a0-cozyMessage>.c19a557985eb7793-contents ._752971923a1e6683-markup code,
._5126c0cd07f243a0-cozyMessage:not(._5126c0cd07f243a0-groupStart)>.c19a557985eb7793-contents>._752971923a1e6683-markup:not(:empty, .a98f3b020416ad54-searchResultsWrap *) code {
    background: linear-gradient(var(--chat-bubble-code-background-color), var(--chat-bubble-code-background-color));
    background-color: var(--background-secondary);
    background-size: calc(var(--chat-bubble) * 1px);
}

._752971923a1e6683-markup blockquote, ._752971923a1e6683-markup pre {
    max-width: 100%;
}


/* 
-Bearable Inbox-
By Disease
Discord UserID: 678469587444170762
*/


._957962c2bd49881b-recentMentionsPopout ._957962c2bd49881b-container,
._957962c2bd49881b-recentMentionsPopout ._427f0273a157ab7a-channel {
    background-color: var(--background-primary);
    border-radius: 8px;
    overflow: hidden;
}

._957962c2bd49881b-recentMentionsPopout ._957962c2bd49881b-container {
    padding-right: unset;
}

._957962c2bd49881b-recentMentionsPopout .e8b59c4b335dd2fc-messagesPopout {
    padding: 16px;
}

._957962c2bd49881b-recentMentionsPopout ._427f0273a157ab7a-channel {
    margin: 16px 8px 16px 0;
    padding-bottom: 0;
}

._957962c2bd49881b-recentMentionsPopout ._35a7ecf3aba351b2-channelHeader {
    background-color: var(--background-primary);
    height: fit-content;
    padding: 6px 16px;
    border-bottom: thin solid var(--background-modifier-accent);
}

._957962c2bd49881b-recentMentionsPopout ._957962c2bd49881b-messageContainer,
._957962c2bd49881b-recentMentionsPopout ._1ccd1ba5cb2270c2-messages {
    margin-left: unset;
    background: none;
    border-radius: unset;
}

/* header icon */
._957962c2bd49881b-recentMentionsPopout .f34534e8a5d3ca64-iconSizeMedium {
    width: 24px;
    height: 24px;
}

._957962c2bd49881b-recentMentionsPopout .f34534e8a5d3ca64-iconActiveMedium {
    border-radius: 7px;
}

._957962c2bd49881b-recentMentionsPopout ._35a7ecf3aba351b2-dmIcon,
._957962c2bd49881b-recentMentionsPopout ._35a7ecf3aba351b2-guildIcon {
    margin-right: 6px;
}

/* channel name section */
._957962c2bd49881b-recentMentionsPopout ._35a7ecf3aba351b2-channelName svg path {
    fill: var(--channel-icon);
}

._957962c2bd49881b-recentMentionsPopout ._35a7ecf3aba351b2-channelName svg {
    margin: 0 4px;
}

._957962c2bd49881b-recentMentionsPopout ._35a7ecf3aba351b2-channelNameSection {
    -webkit-box-orient: unset;
    -ms-flex-direction: unset;
    flex-direction: unset;
}

._957962c2bd49881b-recentMentionsPopout .heading-md-medium-2DVCeJ,
._957962c2bd49881b-recentMentionsPopout .heading-md-normal-3Ytn6I {
    font-size: 16px;
    line-height: 20px;
}

._957962c2bd49881b-recentMentionsPopout ._35a7ecf3aba351b2-subtext,
._957962c2bd49881b-recentMentionsPopout ._35a7ecf3aba351b2-subtextContainer {
    margin-left: 4px;
    line-height: 20px;
    width: fit-content;
}

/* buttons */
._957962c2bd49881b-recentMentionsPopout ._957962c2bd49881b-container .closeButton__95796 {
    opacity: 0;
}

._957962c2bd49881b-recentMentionsPopout ._957962c2bd49881b-container:hover .closeButton__95796 {
    opacity: 1;
}

._957962c2bd49881b-recentMentionsPopout .tertiary_ad6d80:not(.disabled__4d064),
._957962c2bd49881b-recentMentionsPopout .tertiary_ad6d80:hover:not(.disabled__4d064) {
    background: none;
}

._957962c2bd49881b-recentMentionsPopout .collapseButton__427f0:hover {
    color: var(--interactive-active);
}

._957962c2bd49881b-recentMentionsPopout .collapseButton__427f0 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: unset;
    width: 32px;
    height: 32px;
    padding: unset;
    margin-left: 12px;
}

._957962c2bd49881b-recentMentionsPopout ._1ccd1ba5cb2270c2-messages>button:last-of-type {
    margin-left:auto;
}



/* 
-Bigger Titlebar-
By ElitePrime#7266
Discord UserID: 542750206299734039
*/
._421edea01cb52e16-winButton {
  height: 25px;
  width: 34px;
  margin-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
}
._421edea01cb52e16-withFrame {
  height: fit-content;
  margin-top: 0px;
}
._421edea01cb52e16-wordmarkWindows {
  margin-top: 10px;
  margin-left: 12px;
  padding: 0px;
}

/* BettterInvites Temporary Fix */
@import url("https://maendisease.github.io/BetterDiscordStuff/css/BIRBanners.css");

/*betterInvites*/
/*background*/
.d5f3cd116f175f35-wrapper {
  background: var(--background-secondary-alt);
  border-radius: 8px;
  padding: 16px;
  overflow: hidden;
  min-height: 173px;
  max-width: 328px;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  transition: box-shadow .2s ease-out, transform .2s ease-out, background .2s ease-out, -webkit-box-shadow .2s ease-out, -webkit-transform .2s ease-out
}

.d5f3cd116f175f35-wrapper:focus,
.d5f3cd116f175f35-wrapper:hover {
  background: var(--background-tertiary);
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
  box-shadow: var(--elevation-high);
  -webkit-box-shadow: var(--elevation-high)
}

.d5f3cd116f175f35-wrapper .d5f3cd116f175f35-content {
  position: relative;
  min-height: 113px;
  z-index: 1
}

.d5f3cd116f175f35-wrapper .d5f3cd116f175f35-header {
  position: relative;
  z-index: 2
}

.d5f3cd116f175f35-wrapper .d5f3cd116f175f35-inviteSplash {
  position: absolute;
  border-radius: 8px 8px 0 0;
  height: 87px;
  width: 100%;
  transition: transform .2s ease-out, -webkit-transform .2s ease-out
}

.d5f3cd116f175f35-wrapper .d5f3cd116f175f35-inviteSplashImage {
  transition: transform .2s ease-out, -webkit-transform .2s ease-out
}

.d5f3cd116f175f35-wrapper:hover .d5f3cd116f175f35-inviteSplashImage {
  transform: scale(1.01) translateZ(0) !important;
  -webkit-transform: scale(1.01) translateZ(0) !important
}

.BetterInvites-guildBanner {
  max-height: 87px;
  margin: -87px 0;
  top: 43px;
  right: 16px;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
  margin-bottom: 0 !important;
  width: 328px
}

.BetterInvites-guildBanner img {
  max-height: 87px !important;
  border-radius: 8px 8px 0 0 !important;
  -webkit-transition: transform .2s ease-out;
  transition: transform .2s ease-out
}

.d5f3cd116f175f35-wrapper:hover .BetterInvites-guildBanner img {
  transform: scale(101%)
}

.d5f3cd116f175f35-guildIcon {
  position: absolute;
  top: 17px;
  box-shadow: 0 0 0 4px var(--background-secondary-alt);
  background-color: var(--background-secondary-alt);
  width: 40px;
  height: 40px;
  border-radius: 12px;
  -webkit-transition: box-shadow .2s ease-out, background .2s ease-out;
  transition: box-shadow .2s ease-out, background .2s ease-out
}

.d5f3cd116f175f35-wrapper:hover .d5f3cd116f175f35-guildIcon {
  box-shadow: 0 0 0 4px var(--background-tertiary)
}

.d5f3cd116f175f35-wrapper .d5f3cd116f175f35-guildInfo {
  justify-content: initial;
  transform: translate(0, 35px);
  width: 0
}

.d5f3cd116f175f35-wrapper .d5f3cd116f175f35-statusCounts {
  font-weight: 400;
  font-size: 12px
}

.d5f3cd116f175f35-wrapper .d5f3cd116f175f35-statusOffline {
  background-color: var(--interactive-normal)
}

.d5f3cd116f175f35-wrapper .BetterInvites-iconWrapper img {
  width: 18px;
  height: 18px !important
}

.d5f3cd116f175f35-wrapper .BetterInvites-iconWrapper {
  position: relative;
  top: 50px;
  height: 18px
}

.BetterInvites-guildDescription {
  width: 400px
}

.BetterInvites-guildDescription ._752971923a1e6683-markup {
  margin: 76px 0 0 0 !important;
  color: var(--header-secondary);
  font-size: 14px;
  line-height: 18px;
  position: relative
}

.d5f3cd116f175f35-wrapper .d5f3cd116f175f35-button {
  position: absolute;
  right: 0;
  top: 17px;
  width: unset !important;
  height: 32px;
  font-weight: 600;
  color: var(--interactive-normal);
  background-color: var(--background-primary) !important;
  -webkit-box-shadow: var(--elevation-stroke);
  box-shadow: var(--elevation-stroke);
  border-radius: 4px;
  opacity: 0
}

.d5f3cd116f175f35-wrapper:hover .d5f3cd116f175f35-button {
  opacity: 1
}

.d5f3cd116f175f35-wrapper .d5f3cd116f175f35-button:hover {
  color: var(--interactive-hover);
  filter: brightness(105%)
}

.d5f3cd116f175f35-wrapper .buttonSize_d5f3cd .contents-3ca1mk {
  position: relative;
  text-overflow: unset;
  overflow: visible
}

.d5f3cd116f175f35-guildIcon::after {
  display: block;
  position: relative;
  content: "";
  z-index: -1;
  bottom: calc(87px - 26px);
  right: 16px;
  width: 328px;
  height: 87px;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 100% !important;
  -webkit-transition: background-size .2s ease;
  transition: background-size .2s ease-out
}

.d5f3cd116f175f35-wrapper:hover .d5f3cd116f175f35-guildIcon::after {
  background-size: 101% !important
}

/* full height banner */
/* 
.d5f3cd116f175f35-guildIcon::after,.d5f3cd116f175f35-wrapper .d5f3cd116f175f35-inviteSplash{height:100%;-webkit-mask-image:linear-gradient(90deg,rgba(0,0,0,0.2) 0,rgba(0,0,0,1) 60%)}
.d5f3cd116f175f35-guildIcon::after,.d5f3cd116f175f35-wrapper:hover .d5f3cd116f175f35-guildIcon::after{height:173px;background-size:cover!important;-webkit-transition:transform .2s ease-out;transition:transform .2s ease-out}
.d5f3cd116f175f35-wrapper:hover .d5f3cd116f175f35-guildIcon::after{transform:scale(1.01) translateZ(0)!important;-webkit-transform:scale(1.01) translateZ(0)!important}
.d5f3cd116f175f35-guildIcon,.d5f3cd116f175f35-wrapper:hover .d5f3cd116f175f35-guildIcon{box-shadow:none}
*/
